{% extends "main_base.html" %}

{% block content %}
<fieldset>
    <legend>
        <a href="{% url 'quize737:user_list' %}">ПИЛОТЫ</a>
        <span style="color: black;"> | </span>
        <a href="{% url 'quize737:new_user' %}">Добавить Пилота</a>
        <span style="color: black;"> | </span>
        <a href="{% url 'quize737:group_list' %}">Группы</a>
        <span style="color: black;"> | </span>
        <a href="{% url 'quize737:new_group' %}">Добавить группу</a>
    </legend>
<div class="block-list">
   <h1> {{user_obj.profile.family_name}} {{user_obj.profile.first_name}} {{user_obj.profile.middle_name}}</h1>

    {% for error in form_user.errors.values %}
        {{error}}
    {% endfor %}
  <form id="user_edit_form" method='post'>
      {% csrf_token %}
    <input type="hidden" name="previous_url" value="{{ previous_url }}">
    <p>Квалификация:
        <select name="position">
            {% for option in position_list %}
                {% if option == user_obj.profile.get_position_display %}
<!--            get_position_display -->
                    <option value="{{option}}" selected>{{option}}</option>
                {% else %}
                    <option value="{{option}}">{{option}}</option>
                {% endif %}
            {% endfor %}
        </select>
    </p>
    <p>Тип ВС:
          <select name="ac_type">
            {% for option in ac_type %}
                {% if option == user_obj.profile.get_ac_type_display %}
<!--            get_position_display -->
                    <option value="{{option}}" selected>{{option}}</option>
                {% else %}
                    <option value="{{option}}">{{option}}</option>
                {% endif %}
            {% endfor %}
        </select>
    </p>

    <hr/>

    <p>Группы пользователя:</p>

    <div class="fio_row">
    {% for group in all_groups %}
        {% if group in user_obj.groups.all %}
            <div class="fio_column_short">
                <input type="checkbox" id="group" name="group" value="{{group}}" checked>
                <span class="mark_up">{{group}}</span>
            </div>
            {% if forloop.counter|divisibleby:4 %}
        </div>
        <div class="fio_row">
            {% endif %}
            {% else %}
            <div class="fio_column_short">
                <input type="checkbox" id="group" name="group" value="{{group}}">
                <span class="mark_up">{{group}}</span>
            </div>
            {% if forloop.counter|divisibleby:4 %}
            </div>
            <div class="fio_row">
            {% endif %}
            {% endif %}
            {% endfor %}
            </div>
    <br>

    <hr/>

      <p>Логин: <span>{{form_user.username}}</span></p>
      <p>Email: <span>{{form_user.email}}</span></p>
  </form>
    <form id="user_del_form" action="{% url 'quize737:del_user' user_obj.id %}"></form>
    <form id="go-back" method='get' action='{% url "quize737:go_back_button" %}'>
        <input type="hidden" name="previous_url" value="{{ previous_url }}">
    </form>
    <input type="submit" form="user_edit_form" value="Сохранить">
    <span style="color: black;"> | </span>
    <input type="submit" value="Вернуться" form="go-back">
    <span style="color: black;"> | </span>
    <input type="submit" form="user_del_form" value="Удалить" onclick="return confirm('Удалить Пилота?') || event.preventDefault()">
</div>
</fieldset>


<script>
    //Скрипт меняет размер поля вопроса под фактическое количество символов
    var login_text_Length = document.getElementById("id_username").value.length;
    var login_rows_length = 1
    if ( login_text_Length > 100 ) { login_rows_length = Math.ceil(login_text_Length/100);
                                  login_text_Length = 100 };
    var login_field = document.getElementById("id_username");
    login_field.setAttribute("cols", login_text_Length);
    login_field.setAttribute("rows", login_rows_length);

    //----------------------------------------------------

    var q_text_Length = document.getElementById("id_email").value.length;
    var q_rows_length = 1
    if ( q_text_Length > 100 ) { q_rows_length = Math.ceil(q_text_Length/100);
                                  q_text_Length = 100 };
    var q_field = document.getElementById("id_email");
    q_field.setAttribute("cols", q_text_Length);
    q_field.setAttribute("rows", q_rows_length);


</script>

    {% endblock %}


