{% extends "main_base.html" %}

{% block content %}
<fieldset>
    <legend>
     <a href="{% url 'quize737:user_list' %}">Пилоты</a>
        <span style="color: black;"> | </span>
        <a href="{% url 'quize737:new_user' %}">Добавить Пилота</a>
        <span style="color: black;"> | </span>
        <a href="{% url 'quize737:group_list' %}">ГРУППЫ</a>
        <span style="color: black;"> | </span>
        <a href="{% url 'quize737:new_group' %}">Добавить Группу</a>
    </legend>
    <div class="block-list">
            {% for group in groups %}
                {% if group.name in fixed_groups %}
                    <div>
                        <spot class="block_light_up">
                            <div class="list-group">
                                <a href="{% url 'quize737:group_details' group.id %}"><span class="theme_color">{{group}}</span></a>
                             </div>
                            <span style="color: black;">|</span>
                            <div class="list-group_description">
                                {{group.groupsdescription.discription}}
                            </div>
                            <span style="color: black;">|</span>
                            <div class="list-group_users">
                                <a href="{% url 'quize737:group_users' group.id %}">Список группы</a>
                            </div>
                        </spot>
                    </div>
                {% endif %}
            {% endfor %}
            <br>
            {% for group in groups %}
                {% if group.name not in fixed_groups %}
                    <div>
                        <spot class="block_light_up">
                            <div class="list-group">
                                <a href="{% url 'quize737:group_details' group.id %}"><span class="theme_color">{{group}}</span></a>
                            </div>

                            <span style="color: black;">|</span>

                            <div class="list-group_description">
                                {{group.groupsdescription.discription}}
                            </div>

                            <span style="color: black;">|</span>

                            <div class="list-group_users">
                                <a href="{% url 'quize737:group_users' group.id %}">Список группы</a>
                            </div>

                                <span style="color: black;">|</span>

                            <div class="list-edit">
                                <a href="{% url 'quize737:edit_group' group.id %}">Редактировать</a>
                            </div>

                            <span style="color: black;">|</span>

                            <div class="list-delete">
                                <a href="{% url 'quize737:group_del' group.id %}" onclick="return confirm('Удалить группу?') || event.preventDefault()" name="group_del">Удалить</a>
                            </div>
                        </spot>
                    </div>
                {% endif%}
            {% endfor %}
    </div>


            <br>
            {% include "paginator_2.html" with page=groups %}


</fieldset>
{% endblock %}