{% extends "base_login.html" %}

{% block content %}
<section>
    <div>
        <fieldset>
<!--            <legend>Вход</legend>-->
        <form method="POST" >
            {% csrf_token %}


                    <div>
                        <table style="width:100%">
                            <tr>
                                <th align="left">
                                    <label>Логин:</label>
                                </th>
                                <th align="right">
                                    {{ form.username }}
                            </th>
                            </tr>
                        </table>
                    </div>
                <br>
                    <div>
                        <table style="width:100%">
                            <tr>
                                <th align="left">
                                    <label>Пароль:</label>
                                </th>
                                <th align="right">
                                    {{form.password}}
                                </th>
                            </tr>
                        </table>
                    </div>
                <br>
                    <div>
                        <table style="width:100%">
                            <tr>
                                <th align="center" width="50%">
                                    <button type="submit">Войти</button>
                                </th>
                            </tr>
                            <tr>
                                <th align="center">
                                    <a href="{% url 'password-reset' %}">Восстановить</a>
                                </th>
                            </tr>
                        </table>
                    </div>

        </form>
            </fieldset>
    </div>
</section>
{% endblock %}