{% extends "base_generic.html" %}

{% block content %}

    <div class="form">
        <form method="POST" >
            {% csrf_token %}
            <fieldset>
                <legend>Вход</legend>
                <label for="id_username">Логин:</label>
                {{ form.username }}
                <br><br>
                <label for="id_password">Пароль:</label>
                {{form.password}}
                <br>
                <br>
                <button type="submit">Войти</button>
            </fieldset>
            <div>

            </div>
        </form>
    </div>
<div>

</div>
{% endblock %}