{% extends "base_generic.html" %}

{% block content %}

    <div class="form">
        <form method="POST" >
            {% csrf_token %}
            <fieldset>
                <legend>Вход</legend>
                    <div>
                        <table style="width:100%">
                            <tr>
                                <th align="left">
                                    <label for="id_username" style="font-size: 14px">Логин:</label>
                                </th>
                                <th align="right">
                                    {{ form.username }}
                            </th>
                            </tr>
                        </table>
                    </div>
                <br>
                    <div>
                        <table style="width:100%">
                            <tr>
                                <th align="left">
                                    <label for="id_password" style="font-size: 14px">Пароль:</label>
                                </th>
                                <th align="right">
                                    {{form.password}}
                                </th>
                            </tr>
                        </table>
                    </div>
                <br>
                    <div>
                        <table style="width:100%">
                            <tr>
                                <th align="left" width="50%">
                                    <button class="button" type="submit">Войти</button>
                                </th>

                                <th align="right">
                                    <a href="{% url 'register' %}"><span>Регистрация</span></a>
                                </th>
                            </tr>
                        </table>
                    </div>
            </fieldset>
        </form>
    </div>
<div>

</div>
{% endblock %}