{% extends "main_base.html" %}

{% block content %}
<fieldset>
    <legend>
        {% include "sub_menu_pilots.html" with page=request.path %}
    </legend>
    {% for err_form_user in form_user.errors.values %}
        {{err_form_user}}
    {% endfor %}

    {% for err_form_profile in form_profile.errors.values %}
        {{err_form_profile}}
    {% endfor %}

  <form method="POST" id="new_user">
      {% csrf_token %}
      <div class="block_none_light_up">
          <div class="new_user-field">Фамилия:</div>
          <div class="new_user-field">Имя:</div>
          <div class="new_user-field">Отчество:</div>
      </div>
      <div class="block_none_light_up">
        <div class="new_user-field">{{ form_profile.family_name }}</div>
        <div class="new_user-field">{{ form_profile.first_name }}</div>
        <div class="new_user-field">{{ form_profile.middle_name }}</div>
      </div>
      <div class="block_none_light_up">
          <div class="new_user-field">Логин:</div>
          <div class="new_user-field">Пароль:</div>
          <div class="new_user-field">Пароль повторно:</div>
      </div>

      <div class="block_none_light_up">
          <div class="new_user-field">{{ form_user.username }}</div>
          <div class="new_user-field">{{form_user.password1}}</div>
          <div class="new_user-field">{{ form_user.password2 }}</div>
      </div>

      <div class="note_in_list">
          Минимальная длина пароля 3 символа
      </div>
      <div class="block_none_light_up">
          <div class="new_user-field">Email:</div>
          <div class="new_user-field">Квалификация:</div>
          <div class="new_user-field">Тип ВС:</div>
      </div>
      <div class="block_none_light_up">
          <div class="new_user-field">{{form_user.email}}</div>
          <div class="new_user-field">{{ form_profile.position }}</div>
          <div class="new_user-field">{{ form_profile.ac_type}}</div>
      </div>

</form>
    <div class="block_none_light_up">
        <input type="submit" value="Сохранить" form="new_user">
    </div>
</fieldset>
{% endblock content %}