{% extends "base_start.html" %}

{% block content %}
    <div>
      <div>
<!--        <img src="{{ user.profile.image.url }}">-->
        <div>
            <h4>ФИО:</h4>
            <p>{{user.profile.family_name}} {{user.profile.first_name}} {{user.profile.middle_name}}</p>
            {% if user.email %}
                <h4>Email:</h4>
                <p>{{ user.email }}</p>
            {% endif %}

            {% if user.profile.position %}
                <h4>Должность:</h4>
                <p>{{user.profile.position}}</p>
            {% endif %}
            <h4>Логин:</h4>
                 <p>{{ user.username }}</p>


    <h1>Password changed</h1>
    <p>Your password has been successfully changed.</p>
        </div>
      </div>
    </div>
{% endblock %}