{% extends "base_start.html" %}

{% block content %}

<!--        <img src="{{ user.profile.image.url }}">-->
<fieldset>
        <legend>Профиль пользователя</legend>
    <table border="0" width="100%">
        <tr>
            <td>
            <h4>ФИО:</h4> <span>{{user.profile.family_name}} {{user.profile.first_name}} {{user.profile.middle_name}}</span>
            </td>
            <td>
                {% if user.email %}
            <h4>Email:</h4> <span>{{ user.email }}</span>
            {% endif %}
            </td>
        </tr>
        <tr>
            <td>
            {% if user.profile.position %}
                <h4>Должность:</h4>
                <p>{{user.profile.position}}</p>
            {% endif %}
            </td>
            <td>
            <h4>Логин:</h4>
                 <p>{{ user.username }}</p>
            </td>
        </tr>
        <tr>
            <td>
    <h4>Изменить пароль</h4>
    <form action="." method="post">
        <p>Старый пароль: {{ form.old_password }}</p>
        <p>Новый пароль: {{ form.new_password1 }}</p>
        <p>Минимальная длина пароля 3 символа</p>
        <p>Новый пароль повторно: {{ form.new_password2 }}</p>
        <p><input type="submit" value="Изменить пароль"></p>
        {% csrf_token %}
    </form>
            </td>
        </tr>
    </table>
</fieldset>

{% endblock %}