{% extends "base_start.html" %}

{% block content %}

<!--        <img src="{{ user.profile.image.url }}">-->
<fieldset>
        <legend>Профиль пользователя</legend>

        <div class="block_none_light_up">
            <div class="profile_statick_field">ФИО:</div>
            <div class="profile_dynamic_field">{{user.profile.family_name}} {{user.profile.first_name}} {{user.profile.middle_name}}</div>
            <div class="profile_statick_field">Должность:</div>
            <div class="profile_dynamic_field">{{user.profile.get_position_display}}</div>
        </div>

        <div class="block_none_light_up">
            <div class="profile_statick_field">Email:</div>
            <div class="profile_dynamic_field">{{ user.email }}</div>
            <div class="profile_statick_field">Логин:</div>
            <div class="profile_dynamic_field">{{ user.username }}</div>
        </div>
        <br>
        <br>
        <div class="block_none_light_up">
            <div class="profile_input_field">Изменить пароль:</div>
            <div class="profile_input_field">
                {% if test_and_data_saved %}
                    <span class="result_confirm">Данные сохранены</span>
                {% endif %}
            </div>
        </div>

    <form action="." method="post">
        <div class="block_none_light_up">
            <div class="profile_input_field">Старый пароль:</div>
            <div class="profile_input_field">Новый пароль:</div>
            <div class="profile_input_field">Новый пароль повторно:</div>
        </div>
        <div class="block_none_light_up">
            <div class="profile_input_field">{{ form.old_password }}</div>
            <div class="profile_input_field">{{ form.new_password1 }}</div>
            <div class="profile_input_field">{{ form.new_password2 }}</div>
        </div>
        <div class="block_none_light_up">
            <div class="note_in_list">Минимальная длина пароля 3 символа</div>
        </div>

        <div class="block_none_light_up">
            <input type="submit" value="Изменить пароль">
        </div>
        {% csrf_token %}
    </form>

</fieldset>

{% endblock %}