{% extends "base_start.html" %}

{% block content %}

<!--        <img src="{{ user.profile.image.url }}">-->
<fieldset>
        <legend>Профиль пользователя</legend>
    <table border="0" width="100%">
        <tr>
            <td>
            <span class="mark_up">ФИО:</span> <span class="main_sign">{{user.profile.family_name}} {{user.profile.first_name}} {{user.profile.middle_name}}</span>
            </td>
            <td>
                {% if user.email %}
            <span class="mark_up">Email:</span> <span class="main_sign">{{ user.email }}</span>
            {% endif %}
            </td>
        </tr>
        <tr>
            <td>
            {% if user.profile.position %}
                <span class="mark_up">Должность:</span>
                <span class="main_sign">{{user.profile.position}}</span>
            {% endif %}
            </td>
            <td>
            <span class="mark_up">Логин:</span>
                 <span class="main_sign">{{ user.username }}</span>
            </td>
        </tr>
        <tr>
            <td>
                <br>
    <span class="mark_up">Изменить пароль</span>
    <form action="." method="post">
        <p>Старый пароль: {{ form.old_password }}</p>
        <p>Новый пароль: {{ form.new_password1 }}</p>
        <p>Минимальная длина пароля 3 символа</p>
        <p>Новый пароль повторно: {{ form.new_password2 }}</p>
        <p><input type="submit" value="Изменить пароль"></p>
        {% csrf_token %}
    </form>
            </td>
        </tr>
    </table>
</fieldset>

{% endblock %}