{% extends "base_login.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
<section>
<div>
    <fieldset>
    <table style="width:100%">
        <tr>
            <th align="center">
                <h1 style="color: rgb(209, 209,209);">Восстановление пароля</h1>
            </th>
        </tr>
        <tr>
            <th>
                <span style="color: rgb(209, 209,209);">
                    Инструкции для изменения пароля отправлены на Ваш на email
                </span>
            </th>
        </tr>
        <tr>
            <th>
                <span style="color: rgb(209, 209,209);">Если вы не получили письмо, проверьте папку Спам или обратитесь к Администратору
                </span>
            </th>
        </tr>
        <tr>
            <th>
                <form action="{% url 'login' %}">
                    <button type="submit" value="Отправить email">Вернуться</button>
                </form>
            </th>
        </tr>
    </table>
    </fieldset>
</div>
</section>

{% endblock %}