{% extends "base_start.html" %}

{% block content %}
    <div>
      <div>
<!--        <img src="{{ user.profile.image.url }}">-->
        <div>
            <h4>ФИО:</h4>
            <p>{{user.profile.family_name}} {{user.profile.first_name}} {{user.profile.middle_name}}</p>

            <h4>Имя пользователя:</h4>
                 <p>{{ user.username }}</p>
            {% if user.email %}
                <h4>Email:</h4>
                <p>{{ user.email }}</p>
            {% endif %}

            {% if user.profile.position %}
                <h4>Должность:</h4>
                <p>{{user.profile.position}}</p>
            {% endif %}
        </div>
      </div>
      <!-- Здесь будет форма -->
    </div>
{% endblock content %}