{% extends "base_login.html" %}
{% block content %}
<div>
    <form method="POST">
        {% csrf_token %}
        {% if err_list %}
            {% for err in err_list %}
                <p>{{err}}</p>
            {% endfor %}
        {%endif%}
        <fieldset>
            <legend>Регистрация</legend>
            <p>Логин: </p><p>{{ form_user.username }}</p>
            <p>Пароль: </p><p>{{form_user.password1}}</p>
            <p>Минимальная длина пароля 3 символа</p>
            <p>Пароль повторно: </p><p>{{ form_user.password2 }}</p>
            <p>Email: </p><p>{{form_user.email}}</p>
            <p>Фамилия: </p><p>{{ form_profile.family_name }}</p>
            <p>Имя: </p><p>{{ form_profile.first_name }}</p>
            <p>Отчество: </p><p>{{ form_profile.middle_name }}</p>
            <p>Должность: </p><p>{{ form_profile.position }}</p>
        </fieldset>
        <div>
            <button type="submit">Регистрация</button>
        </div>
    </form>
    <div>
        <small>
            Уже есть аккаунт? <a href="{% url 'login' %}">Вход</a>
        </small>
    </div>
</div>

{% endblock content %}