{% extends "main_base.html" %}

{% block content %}
<fieldset>
    <legend>
        <a href="{% url 'quize737:user_list' %}"> Список Пилотов </a>
        <span style="color: black;"> | </span>
        <a href="{% url 'quize737:new_user' %}">Добавить Пилота</a>
        <span style="color: black;"> | </span>
        <a href="{% url 'quize737:group_list' %}">Список групп</a>
        <span style="color: black;"> | </span>
        <a href="{% url 'quize737:new_group' %}">Добавить Группу</a>
        <span style="color: black;"> | </span>
        <a href="#">НОВАЯ ГРУППА С ВЫБРАННЫМИ ПИЛОТАМИ</a>
    </legend>
    <div class="block_none_light_up">
        <div class="form_errors">
            <p>{{non_form_errors}}</p>
            {% for error in form_errors%}
            <p>{{error}}</p>
            {% endfor %}
        </div>

        <form id="selected_users_group" method='post' action="{% url 'quize737:selected_users_new_group' %}">
            {% csrf_token %}
            <input type="hidden" name="previous_url" value="{{ previous_url }}">
            <div class="fio_row">
                {% for user in selected_user_list %}
                <div class="fio_column_short">
                    <input name="user_selected" type="hidden" value="{{user.id}}"><span class="mark_up">{{ user.profile.family_name}} {{user.profile.first_name.0}}.{{user.profile.middle_name.0}}.</span>
                </div>
                {% if forloop.counter|divisibleby:4 %}
            </div>
            <div class="fio_row">
                {% endif %}
                {% endfor %}
            </div>
            <hr/>
            <br>

            <div class="form_errors">
            {% for error in form.errors.values %}
            <p>{{error}}</p>
            {% endfor %}
            </div>
            <div>
                <div class="new_group_sign">Название Группы:</div>
                <div class="new_group_field">{{form.group_name}} </div>
            </div>
            <br>
            <div>
                <div class="new_group_sign">Описание группы:</div>
                <div class="new_group_field">{{form.discription}} </div>
            </div>
            <br>


        </form>
        <div class="block_none_light_up" id="go_back">
            <form id="go-back_form" method='get' action='{% url "quize737:go_back_button" %}'>
                <input type="hidden" name="previous_url" value="/user_list/{{ previous_url }}">
            </form>
        </div>
        <div class="block_none_light_up">
            <span id="wait" style="display: none;">Сохраняю данные, ожидайте...</span>
            <input type="submit" value="Сохранить" id="save_btn" form="selected_users_group">
            <span style="color: black;" id="span_vline_1"> | </span>
            <input type="submit" id="go-back_btn" value="Вернуться" form="go-back_form">
        </div>
    </div>
</fieldset>

{% endblock %}