{% extends "main_base.html" %}
{% load static %}
{% block content %}


<fieldset>
    <legend><a href="{% url 'quize737:user_list' %}">ПИЛОТЫ</a>
        <span style="color: black;"> | </span>
        <a href="{% url 'quize737:new_user' %}">Добавить Пилота</a>
        <span style="color: black;"> | </span>
        <a href="{% url 'quize737:group_list' %}">Группы</a>
        <span style="color: black;"> | </span>
        <a href="{% url 'quize737:new_group' %}">Добавить Группу</a>

    </legend>
    <div class="block-list">
        <div class="block_none_light_up">
            <div class="search-form">
                <div style="display: inline-block;">
                <form id="user_search" action="{% url 'quize737:user_list' %}" method="get">
                    <input type="text" name="user_search" placeholder="Поиск пилота..." value="{{ user_search_input }}">
                </form>
                </div>
                <div style="display:inline-block;">
                    <input type="submit" value="Искать" id="submitSearch">
                </div>
            </div>
            <div class="filter-form">
                <div class="filter_related_users">
                    <form id="position_filter" name="position_filter" method="get">
                        <div class="filter_sign_position"></div>
                        <select class="position_filter" name="position_filter">
                            {% for option in ac_types %}
                            {% if filter_input %}
                            {% if option == filter_input.0 %}
                            <option value="{{option}}" selected>{{option}}</option>
                            {% else %}
                            <option value="{{option}}">{{option}}</option>
                            {% endif %}
                            {% else %}
                            {% if option == "Все" %}
                            <option value="{{option}}" selected>{{option}}</option>
                            {% else %}
                            <option value="{{option}}">{{option}}</option>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                        </select>
                        <div class="filter_sign_position"></div>
                        <select class="position_filter" name="position_filter">
                            {% for option in position_list %}
                            {% if filter_input %}
                            {% if option == filter_input.1 %}
                            <option value="{{option}}" selected>{{option}}</option>
                            {% else %}
                            <option value="{{option}}">{{option}}</option>
                            {% endif %}
                            {% else %}
                            {% if option == "Все" %}
                            <option value="{{option}}" selected>{{option}}</option>
                            {% else %}
                            <option value="{{option}}">{{option}}</option>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                        </select>
                        <div class="filter_sign_group"></div>
                        <select class="position_filter" name="position_filter">
                            {% for group in group_list %}
                            {% if filter_input %}
                            {% if group.name == filter_input.2 %}
                            <option value="{{group.name}}" selected>{{group.name}}</option>
                            {% else %}
                            <option value="{{group.name}}">{{group.name}}</option>
                            {% endif %}
                            {% else %}
                            {% if group.name == "Все" %}
                            <option value="{{group.name}}" selected>{{group.name}}</option>
                            {% else %}
                            <option value="{{group.name}}">{{group.name}}</option>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                        </select>
                        <div class="filter_sign_group"></div>
                        <select class="position_filter" name="position_filter">
                            {% for test in tests_list %}
                            {% if filter_input %}
                            {% if test.name == filter_input.3 %}
                            <option value="{{test.name}}" selected>{{test.name}}</option>
                            {% else %}
                            <option value="{{test.name}}">{{test.name}}</option>
                            {% endif %}
                            {% else %}
                            {% if test.name == "Все" %}
                            <option value="{{test.name}}" selected>{{test.name}}</option>
                            {% else %}
                            <option value="{{test.name}}">{{test.name}}</option>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                        </select>
                    </form>
                </div>
                <div style="display: inline-block;">
                    <form id="filter_reset_form" action="{% url 'quize737:user_list' %}" method="get">
                    </form>
                </div>
                <div class="button_block">
                    <input class="submit_filter" type="submit" value="Фильтр" id="submitFilter">
                    <span style="color: black">|</span>
                    <input class="submit_filter" type="submit" value="Сбросить Фильтр" id="resetFilterButton">
                    <div class="total_user_num">Всего: {{user_num}}</div>
                </div>
            </div>

        </div>
        <div style="position: relative;display: block;height: 22px;">
            <div style="display: none;" class="inline_option" id="inline_option_block">

                <a id="assign_test_to_selected_users" href="#">Назначить Тест</a>
                <span style="color: black">|</span>
                <a id="make_new_group_to_selected_users" href="#">Создать группу</a>
                <span style="color: black">|</span>
                <a id="add_to_group_selected_users" href="#">Добавить в группу</a>
                <span style="color: black">|</span>
                <a href="{% url 'quize737:user_list' %}"><span>Отменить</span></a>

            </div>
        </div>
    </div>

    {% if no_search_results %}
    <div>
        {% comment "Если были выбраны пользователи" %}
            Если переход на страницу был после поиска или фитрации и резльтатов поиска и фильтрации нет,
            а выбранные пользователи есть, то они будут отображены здесь
        {% endcomment %}
        {% if selected_users %}
            {% include "user_list_checked.html" with page=user_list %}
            <hr/>
            <br>
        {% endif %}
        <span style="color: rgb(209, 209,209);">{{results}}</span>
    </div>
    {% else %}
    {% include "user_list_common.html" with page=user_list %}
    <br>
    <div style="display: block;" id="paginator">
        {% include "paginator_2.html" with page=user_list %}
        {% endif %}
    </div>
</fieldset>



<script src="{% static 'js/user_list/checkbox_check.js' %}"></script>

<script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>-->

<script src="{% static 'js/user_list/link_click.js' %}"></script>


{% endblock %}

