{% extends "main_base.html" %}
{% load tags %}
{% block content %}
<fieldset>
    <legend>
        {% include "sub_menu_pilots.html" with page=request.path %}
    </legend>

    <div class="block_none_light_up">
        <div class="statick_field_sign">ФИО:</div>
        <div class="dynamic_field_sign">{{user_profile.family_name}} {{user_profile.first_name}} {{user_profile.middle_name}}</div>
    </div>

    <div class="block_none_light_up">
        <div class="statick_field_sign">Квалификация:</div>
        <div class="dynamic_field_sign">{{user_profile.get_position_display}}</div>
    </div>

    <div class="block_none_light_up">
        <div class="statick_field_sign">Тип ВС:</div>
        <div class="dynamic_field_sign">{{user_profile.get_ac_type_display}}</div>
    </div>





    <hr/>

<form id="user_tests_form" method='post'>
      {% csrf_token %}
        {{ user_tests.management_form }}
        <input type="hidden" name="previous_url" value="{{ previous_url }}">
        {% if user_tests|length > 0 %}
            <div class="block_none_light_up">
                <div class="user_test_statick_sign">Назначенные тесты:</div>
                {% if test_and_data_saved %}
                    <span class="result_confirm">Данные сохранены</span>
                {% endif %}
            </div>
        {% else %}
            <div class="block_none_light_up">
                <div class="user_test_statick_sign">Назначенные тесты отсутствуют</div>
            </div>
        {% endif %}

        <div class="block_none_light_up">
            <div class="form_errors">
                <p>{{non_form_errors}}</p>
                {% for error in form_errors%}
                <p>{{error}}</p>
                {% endfor %}
            </div>
        </div>
        <br>

        {% for form in user_tests %}
        <div class="form_set">
            <div class="block_none_light_up">
                {{form.id}}
                one: {{form.num_try.value}}
                two: {{form.instance.id}}
                {% check_test_num_try 1 2  as check_test_valid_date %}
                <span>Название: {{ form.test_name }} <span style="{% if check_test_valid_date %} border: 2px solid #aa272f; padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px; {% endif %}">
                    Кол-во попыток: {{ form.num_try }}</span>
                    {% check_test_date form.date_before.value as check_test_valid_date %}
                    <span style="{% if check_test_valid_date %} border: 2px solid #aa272f; padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px; {% endif %}">Выполнить до: {{form.date_before}}</span></span><span>{{form.DELETE}} Удалить </span>
                <input type="hidden">{{form.test_name.id}}
            </div>
        </div>
        <br>
        {% endfor %}


            <input class="block_none_light_up" id="add-form" type="submit" value="+ Назначить новый тест">
            <br>
            <br>

    </form>
    <form id="form_edit_user" method='get' action='{% url "quize737:edit_user" user_id %}'>
        <input type="hidden" name="previous_url" value="{{ previous_url }}">
    </form>
    <div class="block_none_light_up" id="go_back">
        <form id="go-back_form" method='get' action='{% url "quize737:go_back_button" %}'>
            <input type="hidden" name="previous_url" value="{{ previous_url }}">
        </form>
    </div>
    <div class="block_none_light_up">
        <input type="submit" value="Сохранить" id="save_btn" form="user_tests_form">
        <span style="color: black;" id="span_vline_1"> | </span>
        <input type="submit" value="Редактировать" id="edit_btn" form="form_edit_user">
        <span style="color: black;" id="span_vline_2"> | </span>
        <input type="submit" id="go-back_btn" value="Вернуться" form="go-back_form">
    </div>
    <span class="block_none_light_up" id="wait" style="display: none;">Сохраняю данные, ожидайте...</span>
    <br>


    <div class="form_set" style="display:none">
        <div class="block_none_light_up">
            <span class="empty_form">Название: {{ user_tests.empty_form.test_name }} Кол-во попыток: {{ user_tests.empty_form.num_try }} Выполнить до: {{user_tests.empty_form.date_before}}</span><span>{{user_tests.empty_form.DELETE}} Удалить </span>
        </div>
    </div>

</fieldset>

<p id="demo_0"></p>
<p id="demo_1"></p>
<p id="demo_2"></p>

<script type="text/javascript">
        //Отправка данных нескольких форм
        submitForms = function(){
        document.getElementById("user_tests_form").submit();
        document.getElementById("user_groups").submit();
        }

        let qForm = document.querySelectorAll(".form_set")  // Подсчитывем изначальное количество форм
        let container = document.querySelector("#user_tests_form")
        let addButton = document.querySelector("#add-form")
        let totalForms = document.querySelector("#id_form-TOTAL_FORMS")


        let formNum = qForm.length-1 // Get the number of the last form on the page with zero-based indexing

        addButton.addEventListener('click', addForm)

        function addForm(e){
            e.preventDefault()

            qForm = document.querySelectorAll(".form_set")

            formNum = qForm.length-1

            //document.getElementById("demo_1").innerHTML = 'AFTER: ' + ' formNum: ' + formNum

            if (formNum > 0) {
                let newForm = qForm[0].cloneNode(true)
                let formRegex = RegExp(`form-(\\d){1}-`,'g')

                newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
                container.insertBefore(newForm, addButton)
                var sp1 = document.createElement("br")
                container.insertBefore(sp1, addButton)
                formNum++

                newForm.setAttribute('style', 'display')

                totalForms.setAttribute('value', `${formNum}`)

                //let test_name = document.getElementById(`id_form-${formNum}-test_name`) // Ищем новое поле с количеством вопросов
                //test_name.setAttribute('value', '1')
                //let them_field = document.querySelector(`#id_form-${formNum}-num_try`) // Ищем новое поле с темой
                //them_field.value = '3'
                //let form_vis = document.getElementById

            } else {

                let newForm = qForm[0].cloneNode(true)
                let formRegex = RegExp('__prefix__', 'g')

                formNum++
                newForm.innerHTML = newForm.innerHTML.replace(formRegex, `0`)
                container.insertBefore(newForm, addButton)
                var sp1 = document.createElement("br")
                container.insertBefore(sp1, addButton)

                newForm.setAttribute('style', 'display')


                totalForms.setAttribute('value', `${formNum}`)
            }



        }

        //Скрываем кнопки и паказываем надпись

        let btn = document.getElementById("save_btn");
        let btn_edit = document.getElementById("edit_btn");
        let btn_back = document.getElementById("go-back_btn");
        let vline_1 = document.getElementById("span_vline_1");
        let vline_2 = document.getElementById("span_vline_2");
        let form_back = document.getElementById("go_back");

        btn.addEventListener('click', () => {
          var validFlag = true
          var inputFields = $(':input[type="number"]'); // Выбираем все поля input type=number
          // Прежде, чем выполнить скрипт проверяем "валидность" полей, в противном кнопки скроются, а перехода не произойдёт
          for (field of inputFields) {
            if (field.checkValidity() != true) {
            validFlag = false
            };
          };

          if (validFlag == true) {
              btn.style.display = 'none';
              btn_edit.style.display = 'none';
              btn_back.style.display = 'none';
              vline_1.style.display = 'none';
              vline_2.style.display = 'none';
              form_back.style.display = 'none';
              let box = document.getElementById("wait");
              box.style.display = 'block';
          };
        });

</script>

{% endblock %}