{% extends "main_base.html" %}
{% load tags %}
{% block content %}

<fieldset>
    <legend>
        <a href="{% url 'quize737:question_list' %}">Список вопросов</a>
            <span style="color: black;"> | </span>
            <a href="{% url 'quize737:new_question' %}">Добавить вопрос</a>
            <span style="color: black;"> | </span>
            <a href="{% url 'quize737:theme_editor' %}">Список Тем</a>
            <span style="color: black;"> | </span>
            <a href="{% url 'quize737:new_theme' %}">Добавить Тему</a>
            <span style="color: black;"> | </span>
            <a href="{% url 'quize737:file_upload' %}">ЗАГРУЗИТЬ ФАЙЛ</a>
            {% if request.user|has_group:'krs' or user.is_superuser %}
                <span style="color: black;"> | </span>
                <a href="pass">Скачать базу</a>
            {% endif %}
            <span style="color: black;"> | </span>
            <a href="{% url 'quize737:question_form_file_download' %}">Скачать Форму Вопросов</a>
    </legend>

    <div class="block-list">
        {% if uploaded %}
            <div class="disappear">
                <p>Файл загружен</p>
            </div>
        {% endif%}
        <form id='upload' action="{% url 'quize737:file_upload' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ upload_form.non_field_errors }}</p>
            <p>
            {{ upload_form.docfile.errors }}
            Выбрать файл (.csv) {{ upload_form.docfile }}
            </p>

        </form>

        <div>
            <p><input type="submit" value="Загрузить" form="upload" id="button_upload"></p>
            <span id="wait" style="display: none;">Обрабатываю файл, ожидайте...</span>
        </div>

        {% if reading_errors %}
        <p>Ошибки в процессе загрузки файла: {{reading_errors}}</p>
        {% endif%}
        {% if them_num_created %}
            <p>Создано тем: {{them_num_created}}</p>
        {% elif uploaded %}
            <p>Ни одной темы не создано</p>
        {% endif %}
        {% if q_num_created %}
        <p>Создано вопросов: {{q_num_created}}</p>
        {% elif uploaded %}
        <p>Ни одного вопроса не загружено</p>
        {% endif %}

        {% for data_error in wrong_data%}
        <p>{{data_error}}</p>
        {% endfor %}
    </div>
</fieldset>


<script type="text/javascript">
    const btn = document.getElementById('button_upload');
    btn.addEventListener('click', () => {
        btn.style.display = 'none';
        const box = document.getElementById('wait');
        box.style.display = 'block';
        });
</script>

{% endblock %}