<!-- Форма создания нового вопроса -->

{% extends "main_base.html" %}
{% load tags %}
{% load static %}
{% block content %}


<fieldset>
    <legend>
        {% include "sub_menu_questions_db.html" with page=request.path %}
    </legend>

    <div class="block-list">
        <form id="question_data" method='post' enctype="multipart/form-data">
            {% csrf_token %}
            {% for error in question_form.errors.values %}
            <p>{{error}}</p>
            {% endfor %}
            <div class="block_none_light_up">
                <div style="display: inline-block;">
                {{question_form.them_name.label}}: {{question_form.them_name}}
                </div>
                <div style="display: inline-block;">
                    <span id="ac_type">{{question_form.ac_type.label}}: {{question_form.ac_type}}</span>
                </div>
                 <div style="display: inline-block;">
                        <span>{{question_form.is_for_center}} Для АУЦ NWS</span>
                        <span> {{question_form.is_timelimited}} Ограничение по времени</span>
                        <span> {{question_form.is_active}} Вопрос Активен</span>
                 </div>
            </div>

            <hr/>

            <div class="block_none_light_up">
                <div class="new_question-static_sign">
                    <span>{{question_form.question.label}}:</span>
                </div>
                <div class="new_question-input_field">
                    <span oninput="autoGrow()">{{question_form.question}}</span>
                </div>
            </div>
            <div style="padding-bottom: 10px;">Картинка к вопросу:</div>
             <div>
                <div id='q_img_error' style="display:none;"></div>
            </div>
            <div class="q_edit_img_block" id='q_img_display' style="display:none;">
                <input type="checkbox" style="display:none;" id="zoomCheck_q">
                    <label for="zoomCheck_q">
                        <img id='q_img_src' class='q_edit_img_src' src="#">
                    </label>
            </div>
            <div style="display: inline-block;">{{question_form.question_img}}

<!--                <a href="#" id="loadQIMG">Загрузить</a>-->
            </div>
            <div style="display: inline-block;">
            <span style="display: none;" id="DelQIMGField">|
                <a href="#" id="DelQIMG" onclick="if(confirm('Удалить изображение к вопросу?')) delIMG(this.id);">Удалить</a>
            </span>
            </div>
            <div>
                <span class="comment">{{comments|get_item:'MAX_PICTURE_FILE_SIZE' }}</span>
            </div>
            <hr/>

            <div class="block_none_light_up">
                <div class="new_question-static_sign">
                    <span>{{question_form.option_1.label}}:</span>
                </div>
                <div class="new_question-input_field">
                    <span oninput="autoGrow()">{{question_form.option_1}}</span>
                </div>
            </div>

            <div class="block_none_light_up">
                <div class="new_question-static_sign">
                    <span>{{question_form.option_2.label}}:</span>
                </div>
                <div class="new_question-input_field">
                    <span oninput="autoGrow()">{{question_form.option_2}}</span>
                </div>
            </div>

            <div class="block_none_light_up">
                <div class="new_question-static_sign">
                    <span>{{question_form.option_3.label}}:</span>
                </div>
                <div class="new_question-input_field">
                    <span oninput="autoGrow()">{{question_form.option_3}}</span>
                </div>
            </div>

            <div class="block_none_light_up">
                <div class="new_question-static_sign">
                    <span>{{question_form.option_4.label}}:</span>
                </div>
                <div class="new_question-input_field">
                    <span oninput="autoGrow()">{{question_form.option_4}}</span>
                </div>
            </div>

            <div class="block_none_light_up">
                <div class="new_question-static_sign">
                    <span>{{question_form.option_5.label}}:</span>
                </div>
                <div class="new_question-input_field">
                    <span oninput="autoGrow()">{{question_form.option_5}}</span>
                </div>
            </div>

            <div class="block_none_light_up">
                <div class="new_question-static_sign">
                    <span>{{question_form.option_6.label}}:</span>
                </div>
                <div class="new_question-input_field">
                    <span oninput="autoGrow()">{{question_form.option_6}}</span>
                </div>
            </div>

            <div class="block_none_light_up">
                <div class="new_question-static_sign">
                    <span>{{question_form.option_7.label}}:</span>
                </div>
                <div class="new_question-input_field">
                    <span oninput="autoGrow()">{{question_form.option_7}}</span>
                </div>
            </div>

            <div class="block_none_light_up">
                <div class="new_question-static_sign">
                    <span>{{question_form.option_8.label}}:</span>
                </div>
                <div class="new_question-input_field">
                    <span oninput="autoGrow()">{{question_form.option_8}}</span>
                </div>
            </div>

            <div class="block_none_light_up">
                <div class="new_question-static_sign">
                    <span>{{question_form.option_9.label}}:</span>
                </div>
                <div class="new_question-input_field">
                    <span oninput="autoGrow()">{{question_form.option_9}}</span>
                </div>
            </div>

            <div class="block_none_light_up">
                <div class="new_question-static_sign">
                    <span>{{question_form.option_10.label}}:</span>
                </div>
                <div class="new_question-input_field">
                    <span oninput="autoGrow()">{{question_form.option_10}}</span>
                </div>
            </div>

            <hr/>
            <div style="padding-bottom: 10px;">Картинка к ответу:</div>
            <div class="q_edit_img_block" id='a_img_display' style="display:none;">
                <input type="checkbox" style="display:none;" id="zoomCheck_a">
                    <label for="zoomCheck_a">
                        <img class='q_edit_img_src' id='a_img_src' src="#">
                    </label>
                </div>
                 <div>
                <div id='a_img_error' style="display:none;"></div>
            </div>

            <div style="display: inline-block;">{{question_form.comment_img}}
<!--                <a href="#" id="loadAIMG">Загрузить</a>-->
            </div>
            <div style="display: inline-block;">
            <span style="display: none;" id="DelAIMGField">|
                    <a href="#" id="DelAIMG" onclick="if(confirm('Удалить изображение к вопросу?')) delIMG(this.id);">Удалить</a>
            </span>
            </div>
            <div style="padding-bottom: 10px;">
                <span class="comment">{{comments|get_item:'MAX_PICTURE_FILE_SIZE'}}</span>
            </div>
                <div class="new_question-static_sign">
                    <span>{{question_form.comment_text.label}}:</span>
                </div>
                 <div class="new_question-input_field">
                    <span oninput="autoGrow()">{{question_form.comment_text}}</span>
                </div>
            <hr/>
            <div class="block_none_light_up">
                {{question_form.q_kind.label}}: <input name="q_kind" type="checkbox" id="q_kind" onclick="hideFunc()">
            </div>

            <div class="block_none_light_up">
                <div>
                    {{question_form.q_weight.label}}: {{question_form.q_weight}}
                </div>
                <div style="margin-top:-3px;">
                    <span class="comment">{{comments|get_item:'Q_WEIGHT_COMMENT' }}</span>
                </div>
            </div>

            <div class="block_none_light_up">
                <span id="answer">{{question_form.answer.label}}: <input name="answer" type="number" min="0" max="5"></span>
            </div>

            <div class="block_none_light_up">
                <span id="answers">{{question_form.answers.label}}: {{question_form.answers}}</span>
<!--                    <input name="answers" type="text" placeholder="ex. 1,2,3,4..."></span>-->
            </div>

            <br>
            <div class="block_none_light_up">
                <input type="submit" value="Сохранить">
            </div>
        </form>
    </div>
</fieldset>

<p id="demo"></p>

<script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
<script src="{% static 'js/tinymce/tinymce.min.js' %}" referrerpolicy="origin"></script>

<script> //Редактор текта
    tinymce.init({
        //selector:'#id_comment_text',
        menubar: false,
        });
</script>

<script>
    //Кнопка удалить изображение
    function delIMG(event) {
        if (event == 'DelAIMG') {
            $("#id_comment_img").val(null);  //Обнуляем форму загрузки
            $("#DelAIMGField").attr('style', 'display: none;'); //Убираем кнопку удалить
            $("#a_img_display").attr('style', 'display: none;');  //Убираем картинку
        } else {
            $("#id_question_img").val(null);  //Обнуляем форму загрузки
            $("#DelQIMGField").attr('style', 'display: none;'); //Убираем кнопку удалить
            $("#q_img_display").attr('style', 'display: none;');  //Убираем картинку
        };
    }

</script>

<script>
    //Загрузка картинки ответа
    //$('#loadAIMG').click(function(event) {
    $('#id_comment_img').change(function(event) {
        event.preventDefault();
        if ($("#id_comment_img").val() != '') {
            var file = $('#id_comment_img').prop('files');
            var data = new FormData();
            data.append('comment_img', file[0]);
            data.append('new_q', 'new_question')
            var url = "{% url 'quize737:all_img_for_q_upload' q_id %}";
            //console.log('ACTION:' + url);
            //console.log('DATA:' + file[0]);

            $.ajax({
                type: 'POST',
                headers: {'X-CSRFToken': '{{csrf_token}}' },
                url: url,
                data: data,
                processData: false,
                contentType: false,
                success: function (content) {
                          // Success callback function
                          //console.log('DATA:' + content);
                          //$("#id_comment_img").val(null);  //Обнуляем форму загрузки
                          $("#a_img_src").attr('src', content);  //Выгружаем ссылку на картинку
                          $("#a_img_display").attr('style', 'display: block;'); //Показываем поле с картинкой
                          $("#DelAIMGField").attr('style', 'display: block;'); //Показываем кнопку удалить
                          //location.reload();
                        },
                error: function (xhr, ajaxOptions, thrownError) {
                          // error callback function
                          //console.log('DATA:' + xhr.responseText);
                          //console.log('DATA:' + thrownError);
                          $("#id_question_img").val(null);
                          $("#a_img_error").attr('style', 'display: block;');
                          $("#a_img_error").html(xhr.responseText);
                        },
            });
        } else {
            alert('Картинка не выбрана')
        };
    });

    //Загрузка картинки вопроса
    //$('#loadQIMG').click(function(event) {
    $('#id_question_img').change(function(event) {
        event.preventDefault();

        console.log('Нажали кнопку');
        if ($("#id_question_img").val() != '') {
            var file = $('#id_question_img').prop('files');
            console.log('Файл присутствует в форме');
            var data = new FormData();
            data.append('question_img', file[0]);
            data.append('new_q', 'new_question')
            var url = "{% url 'quize737:all_img_for_q_upload' q_id %}";
            //console.log('ACTION:' + url);
            //console.log('DATA:' + file[0]);

            $.ajax({
                type: 'POST',
                headers: {'X-CSRFToken': '{{csrf_token}}' },
                url: url,
                data: data,
                processData: false,
                contentType: false,
                success: function (content) {
                          // Success callback function
                          //console.log('DATA:' + content);
                          //$("#id_question_img").val(null); //Обнуляем форму загрузки
                          $("#q_img_src").attr('src', content); //Выгружаем ссылку на картинку
                          $("#q_img_display").attr('style', 'display: block;');  //Показываем поле с картинкой
                          $("#DelQIMGField").attr('style', 'display: block;'); //Показываем кнопку удалить
                          //location.reload();
                        },
                error: function (xhr, ajaxOptions, thrownError) {
                          // error callback function
                          //console.log('DATA:' + xhr.responseText);
                          //console.log('DATA:' + thrownError);
                          $("#id_question_img").val(null);
                          $("#q_img_error").attr('style', 'display: block;');
                          $("#q_img_error").html(xhr.responseText);
                        },
            });
        } else {
            alert('Картинка не выбрана')
        };
    });

</script>

<script>
//Скрипт определяет изначальную видимость полей, в зависимости от вида вопроса
var checkBox = document.getElementById("q_kind");
var answer_field = document.getElementById("answer");
var answers_field = document.getElementById("answers");
var checkBox_value = "{{question_form.q_kind.value}}"

if (checkBox_value == "True") {
    checkBox.checked = true; } else {
    checkBox.checked = false;
    }


if (checkBox.checked == true) {
        answers_field.style.display = "block";
        answer_field.style.display = "none"; } else {
        answers_field.style.display = "none";
        answer_field.style.display = "block";
        }


//Функция скрывает или паказывает нужные поля, в зависимости от варианта вопроса
function hideFunc() {
    var checkBox = document.getElementById("q_kind");
    var answer_field = document.getElementById("answer");
    var answers_field = document.getElementById("answers");
    if (checkBox.checked == true){
        answers_field.style.display = "block";
        answer_field.style.display = "none"; } else {
        answers_field.style.display = "none";
        answer_field.style.display = "block";
        }
    }

//Динамическое изменение поля воода текста вопроса
//var q_text = document.getElementById("question");
function autoGrow() {
    var q_text=document.getElementById(event.target.id)
  if (q_text.scrollHeight > q_text.clientHeight) {
    q_text.style.height = `${q_text.scrollHeight}px`;
  }
}


//var box = document.getElementById("q_kind");
//var x = box.getAttribute("checked")
//document.getElementById("demo").innerHTML = "Value: " + checkBox_value + ' ' + x


</script>


{% endblock %}