<!-- Список вопросов по всем темам -->

{% extends "main_base.html" %}

{% block content %}
<div class="left_side">
    <fieldset>
        <legend>
            <a href="{% url 'quize737:question_list' %}">СПИСОК ВОПРОСОВ</a>
            <span style="color: black;"> | </span>
            <a href="{% url 'quize737:new_question' %}">Добавить вопрос</a>
            <span style="color: black;"> | </span>
            <a href="{% url 'quize737:theme_editor' %}">Редактировать Темы</a>
            <span style="color: black;"> | </span>
            <a href="{% url 'quize737:file_upload' %}">Загрузить файл</a>
            <span style="color: black;"> | </span>
            <a href="pass">Скачать базу</a>
        </legend>
        {% for i in questions %}

    <p><a href="{{i.id}}"><span class="theme_color">{{i.them_name}}</span><span style="color: black;"> | </span><span class="a_list">{{i.question}}</span></a><span style="color: black;"> | </span><span><a href="{% url 'quize737:question_del' i.id %}">Удалить вопрос</a></span></p>

        {% endfor %}
        {% include "paginator.html" with page=questions %}
            </fieldset>

</div>

<!--<div class="right_side">-->
<!--        <fieldset>-->
<!--            <legend>Редактировать</legend>-->

<!--            <p><a href="{% url 'quize737:new_question' %}">Добавить вопрос</a></p>-->
<!--            <p><a href="{% url 'quize737:theme_editor' %}">Редактировать Темы</a></p>-->
<!--            <p><a href="{% url 'quize737:file_upload' %}">Загрузить файл</a></p>-->
<!--            <p><a href="pass">Скачать базу</a></p>-->

<!--        </fieldset>-->
<!--</div>-->
{% endblock %}