<!-- Форма редактирования конкретного вопроса -->

{% extends "base_start.html" %}

{% block content %}


<fieldset>
        <legend>Редактировать вопрос</legend>
        <form id="question_data" method='post'>
            {% csrf_token %}
            <p>{{question_form.them_name.label}}: {{question_form.them_name}}</p>
            <p>{{question_form.question.label}}: <textarea style="font-size: 15px;" id="q_field" name="question">{{question_form.question.value}}</textarea></p>
            <p>{{question_form.option_1.label}}: {{question_form.option_1}}</p>
            <p>{{question_form.option_2.label}}: {{question_form.option_2}}</p>
            <p>{{question_form.option_3.label}}: {{question_form.option_3}}</p>
            <p>{{question_form.option_4.label}}: {{question_form.option_4}}</p>
            <p>{{question_form.option_5.label}}: {{question_form.option_5}}</p>
            <p>{{question_form.q_kind.label}}: <input type="checkbox" id="q_type"></p>
            <p>{{question_form.q_weight.label}}: {{question_form.q_weight}}</p>
            <p>{{question_form.answer.label}}: <input type="number" min="0" max="5" value="{{question_form.answer.value}}"></p>
            <p>{{question_form.answers.label}}: <input type="text" value=" {{question_form.answers.value}}"></p>
            <button type="submit" >Сохранить</button>
        </form>
</fieldset>
        <form method='get' action='{% url "question_list" %}'>
            <button type="submit" >Вернуться</button>
        </form>


<p id="demo"></p>

<script type="text/javascript">

var q_text_Length = "{{question_form.question.value}}".length;
var q_rows_length = 1
if ( q_text_Length > 100 ) { q_rows_length = Math.ceil(q_text_Length/100);
                              q_text_Length = 100 };

var a = "{{question_form.q_kind.value}}";
var box = document.getElementById("q_type");
if (a == 'True') { box.setAttribute("checked", "checked") };
var q_field = document.getElementById("q_field");
document.getElementById("demo").innerHTML = "Lenght: " + q_text_Length + " " + q_rows_length

q_field.setAttribute("cols", q_text_Length);
q_field.setAttribute("rows", q_rows_length);
</script>



{% endblock %}