<!-- Список вопросов по всем темам -->

{% extends "main_base.html" %}

{% block content %}
<div class="left_side">
    <fieldset>
        <legend>
            <a href="{% url 'quize737:question_list' %}">СПИСОК ВОПРОСОВ</a>
            <span style="color: black;"> | </span>
            <a href="{% url 'quize737:new_question' %}">Добавить вопрос</a>
            <span style="color: black;"> | </span>
            <a href="{% url 'quize737:theme_editor' %}">Редактировать Темы</a>
            <span style="color: black;"> | </span>
            <a href="{% url 'quize737:file_upload' %}">Загрузить файл</a>
            <span style="color: black;"> | </span>
            <a href="pass">Скачать базу</a>
            <span style="color: black;"> | </span>
            <a href="{% url 'quize737:question_form_file_download' %}">Скачать Форму Вопросов</a>
        </legend>
        <div class="search-form">
            <form id="question_search" action="{% url 'quize737:question_list' %}" method="get">
            <input type="text" name="question_search" placeholder="Поиск вопроса...">
            <input type="submit" value="Искать">
            </form>
        </div>

        <div class="filter-form">
            <form id="theme_filter" action="{% url 'quize737:question_list' %}" method="get">
                <select name="theme_filter">
                    {% for option in them_list %}
                        {% if option.name != 'Все темы'%}
                            <option value="{{option.id}}">{{option.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <input type="submit" value="Фильтр">
            </form>
        </div>

        {% if no_search_results %}
            <span style="color: rgb(209, 209,209);">{{results}}</span>
        {% else %}
            {% for i in questions %}
            <div class="block_light_up">
                <div class="list-them">
                    <a href="{% url 'quize737:theme_editor' i.them_name.id %}"><span class="theme_color">{{i.them_name}}</span></a>
                </div>
                    <span style="color: black;"> | </span>
                <div class="list-question">
                    <a href="{{i.id}}">{{i.question}}</a>
                </div>
                    <span style="color: black;"> | </span>
                <div class="list-delete">
                    <a href="{% url 'quize737:question_del' i.id %}" onclick="return confirm('Удалить вопрос?') || event.preventDefault()">Удалить вопрос</a>
                </div>
            </div>
            {% empty %}
                <div class="list-question">
                <span style="color: rgb(209, 209,209);">Вопросы отсутсвуют</span>
                </div>

            {% endfor %}
            <br>
            {% include "paginator.html" with page=questions %}

        {% endif %}
            </fieldset>

</div>

<!--<div class="right_side">-->
<!--        <fieldset>-->
<!--            <legend>Редактировать</legend>-->

<!--            <p><a href="{% url 'quize737:new_question' %}">Добавить вопрос</a></p>-->
<!--            <p><a href="{% url 'quize737:theme_editor' %}">Редактировать Темы</a></p>-->
<!--            <p><a href="{% url 'quize737:file_upload' %}">Загрузить файл</a></p>-->
<!--            <p><a href="pass">Скачать базу</a></p>-->

<!--        </fieldset>-->
<!--</div>-->
{% endblock %}