<!-- Форма редактирования конкретного вопроса -->

{% extends "main_base.html" %}
{% load tags %}
{% load static %}
{% block content %}

<div class="left_side">
<fieldset>
        <legend>
            {% include "sub_menu_questions_db.html" with page=request.path %}
        </legend>
    <div class="block-list">
        <form id="question_data" method='post'>
            {% csrf_token %}
            {% for error in question_form.errors.values %}
            <p>{{error}}</p>
            {% endfor %}
            <input type="hidden" name="previous_url" value="{{ previous_url }}">
            <input type="hidden" name="is_active" value="{{ q_object.is_active }}">
            {% if q_object.is_active %}
                <div id='q_status' class="q_active_link_butt">
                    <a href="#" id="{{q_id}}" onclick="inActive(this.id)">
                        ДЕАКТИВИРОВАТЬ ВОПРОС
                    </a>
                </div>
            <hr/>
            {% else %}
                <div class="question-line_inactive">
                    ВОПРОС НЕ АКТИВЕН
                </div>
                <div class="q_active_link_butt">
                    <a href="#" id="{{q_id}}" onclick="inActive(this.id)">
                        АКТИВИРОВАТЬ ВОПРОС
                    </a>
                </div>
            <hr/>
            {% endif %}

            <div class="block_none_light_up">
                <div style="display: inline-block;">
                    {{question_form.them_name.label}}: {{question_form.them_name}}
                </div>
                <div style="display: inline-block;">
                    <span id="ac_type">{{question_form.ac_type.label}}: {{question_form.ac_type}}</span>
                </div>

                    <div style="display: inline-block;">
                        <span>{{question_form.is_for_center}} Для АУЦ NWS</span>
                        <span> {{question_form.is_timelimited}} Ограничение по времени</span>
                    </div>

            </div>

            <hr/>

            <div class="block_none_light_up">
                <div class="new_question-static_sign">
                    <span>{{question_form.question.label}}:</span>
                </div>
                <div class="new_question-input_field">
                    <span><textarea style="font-size: 15px;" id="question" name="question" oninput="autoGrow()">{{question_form.question.value}}</textarea></span>
                </div>
            </div>

                <div style="padding-bottom: 10px;">Картинка к вопросу:</div>
                {% if q_object.question_img %}
                <div class="q_edit_img_block" id='q_img_display'>
                    <input type="checkbox" style="display:none;" id="zoomCheck_q">
                    <label for="zoomCheck_q">
                     <img class='q_edit_img_src' id='q_img_src' src="{{q_object.question_img.url}}">
                    </label>
                </div>
                {% else %}
                <div class="q_edit_img_block" id='q_img_display' style="display:none;">
                    <input type="checkbox" style="display:none;" id="zoomCheck">
                    <label for="zoomCheck">
                    <img class='q_edit_img_src' id='q_img_src' src="#">
                    </label>
                 {% endif %}
            </div>
            <div>
                <div id='q_img_error' style="display:none;"></div>
            </div>

            <div>{{question_form.question_img}}

<!--                <a href="#" id="loadQIMG">Загрузить</a>-->

                {% if q_object.question_img %}
                    <span id="DelQIMGField">|
                        <a href="#" id="DelQIMG" onclick="if(confirm('Удалить изображение к вопросу?')) delIMG(this.id);">Удалить</a>
                    </span>
                {% else %}
                <span style="display: none;" id="DelQIMGField">|
                    <a href="#" id="DelQIMG" onclick="if(confirm('Удалить изображение к вопросу?')) delIMG(this.id);">Удалить</a>
                </span>
                {% endif %}
            </div>
            <span class="comment">{{comments|get_item:'MAX_PICTURE_FILE_SIZE' }}</span>
            <hr/>
            <div class="block_none_light_up">
                <div class="new_question-static_sign">
                    <span>{{question_form.option_1.label}}:</span>
                </div>
                <div class="new_question-input_field">
                    <span><textarea style="font-size: 15px;" id="option_1" name="option_1" oninput="autoGrow()">{{question_form.option_1.value}}</textarea></span>
                </div>
            </div>
            <div class="block_none_light_up">
                <div class="new_question-static_sign">
                    <span>{{question_form.option_2.label}}:</span>
                </div>
                <div class="new_question-input_field">
                   <span><textarea style="font-size: 15px;" id="option_2" name="option_2" oninput="autoGrow()">{{question_form.option_2.value}}</textarea></span>
                </div>
            </div>
            <div class="block_none_light_up">
                <div class="new_question-static_sign">
                    <span>{{question_form.option_3.label}}:</span>
                </div>
                <div class="new_question-input_field">
                    <span><textarea style="font-size: 15px;" id="option_3" name="option_3" oninput="autoGrow()">{{question_form.option_3.value}}</textarea></span>
                </div>
            </div>
            <div class="block_none_light_up">
                <div class="new_question-static_sign">
                    <span>{{question_form.option_4.label}}:</span>
                </div>
                <div class="new_question-input_field">
                    <span><textarea style="font-size: 15px;" id="option_4" name="option_4" oninput="autoGrow()">{{question_form.option_4.value}}</textarea></span>
                </div>
            </div>
            <div class="block_none_light_up">
                <div class="new_question-static_sign">
                    <span>{{question_form.option_5.label}}:</span>
                </div>
                 <div class="new_question-input_field">
                    <span><textarea style="font-size: 15px;" id="option_5" name="option_5" oninput="autoGrow()">{{question_form.option_5.value}}</textarea></span>
                 </div>
            </div>
            <div class="block_none_light_up">
                <div class="new_question-static_sign">
                    <span>{{question_form.option_6.label}}:</span>
                </div>
                <div class="new_question-input_field">
                    <span><textarea style="font-size: 15px;" id="option_6" name="option_6" oninput="autoGrow()">{{question_form.option_6.value}}</textarea></span>
                </div>
            </div>
            <div class="block_none_light_up">
                <div class="new_question-static_sign">
                    <span>{{question_form.option_7.label}}:</span>
                </div>
                <div class="new_question-input_field">
                    <span><textarea style="font-size: 15px;" id="option_7" name="option_7" oninput="autoGrow()">{{question_form.option_7.value}}</textarea></span>
                </div>
            </div>
            <div class="block_none_light_up">
                <div class="new_question-static_sign">
                    <span>{{question_form.option_8.label}}:</span>
                </div>
                <div class="new_question-input_field">
                   <span><textarea style="font-size: 15px;" id="option_8" name="option_8" oninput="autoGrow()">{{question_form.option_8.value}}</textarea></span>
                </div>
            </div>
            <div class="block_none_light_up">
                <div class="new_question-static_sign">
                    <span>{{question_form.option_9.label}}:</span>
                </div>
                <div class="new_question-input_field">
                    <span><textarea style="font-size: 15px;" id="option_9" name="option_9" oninput="autoGrow()">{{question_form.option_9.value}}</textarea></span>
                </div>
            </div>
            <div class="block_none_light_up">
                <div class="new_question-static_sign">
                    <span>{{question_form.option_10.label}}:</span>
                </div>
                <div class="new_question-input_field">
                    <span><textarea style="font-size: 15px;" id="option_10" name="option_10" oninput="autoGrow()">{{question_form.option_10.value}}</textarea></span>
                </div>
            </div>
            <hr/>

                <p>{{question_form.q_kind.label}}: <input name="q_kind" type="checkbox" id="q_kind" onclick="hideFunc()"></p>

                <div>{{question_form.q_weight.label}}: {{question_form.q_weight}}</div>
                <div style="margin-top:-3px;">
                    <span class="comment">{{comments|get_item:'Q_WEIGHT_COMMENT' }}</span>
                </div>
                <p id="answer">{{question_form.answer.label}}: <input name="answer" type="number" min="1" max="10" step="1" value="{{question_form.answer.value}}"></p>
                <p id="answers">{{question_form.answers.label}}: {{question_form.answers}}
<!--                    <input name="answers" type="text" value="{{question_form.answers.value}}"></p>-->

            <hr/>
            <div style="padding-bottom: 10px;">Картинка к ответу:</div>
                {% if q_object.comment_img %}
                <div class="q_edit_img_block" id='a_img_display'>
                    <input type="checkbox" style="display:none;" id="zoomCheck">
                    <label for="zoomCheck">
                     <img class='q_edit_img_src' id='a_img_src' src="{{q_object.comment_img.url}}" style="max-height:200px">
                    </label>
                </div>
                {% else %}
                <div class="q_edit_img_block" id='a_img_display' style="display:none;">
                    <input type="checkbox" style="display: none;" id="zoomCheck_a">
                    <label for="zoomCheck_a">
                    <img class='q_edit_img_src' id='a_img_src' src="#">
                    </label>
                </div>
                 {% endif %}

            <div>
                <div id='a_img_error' style="display:none;"></div>
            </div>

            <div>{{question_form.comment_img}}
<!--                <a href="#" id="loadAIMG">Загрузить</a>-->

                {% if q_object.comment_img %}
                    <span id="DelAIMGField">|
                        <a href="#" id="DelAIMG" onclick="if(confirm('Удалить изображение к вопросу?')) delIMG(this.id);">Удалить</a>
                    </span>
                {% else %}
                <span style="display: none;" id="DelAIMGField">|
                    <a href="#" id="DelAIMG" onclick="if(confirm('Удалить изображение к вопросу?')) delIMG(this.id);">Удалить</a>
                </span>
                {% endif %}
            </div>
            <span class="comment">{{comments|get_item:'MAX_PICTURE_FILE_SIZE' }}</span>
            <div class="q_edit_comment">
                <div class="q_edit_comment_statick_sign">
                    {{question_form.comment_text.label}}:
                </div>
                <div style="display: inline-block;">
                 <span oninput="autoGrow()">{{question_form.comment_text}}</span>
                </div>
            </div>
        </form>
        <hr/>

        <form method="post" action="{% url 'quize737:question_del' q_id %}" id="del_question_form">
            {% csrf_token %}
        </form>
        <form method='get' action='{% url "quize737:question_list" %}' id="back_to_list">
        </form>
<!--    Кнопки к формам-->
        <input type="submit" value="Сохранить" form="question_data">
        <span style="color: black;"> | </span>
        <input type="submit" value="Удалить вопрос" form="del_question_form" onclick="return confirm('Удалить Вопрос?') || event.preventDefault()">
        <span style="color: black;"> | </span>
        <input type="submit" value="Вернуться" onClick="javascript:history.go(-1);">
<!--        <br>-->
<!--        <input type="submit" value="Вернуться" form="back_to_list">-->
<!--        <br>-->
<!--        <br>-->
<!--        <input type="submit" value="Вернуться" onClick="javascript:history.go(-1);">-->
    </div>
    {% if not q_object.is_active %}

        <hr/>
        <div class="q_active_link_butt">
            <a href="#" id="{{q_id}}" onclick="inActive(this.id)">
                        АКТИВИРОВАТЬ ВОПРОС
            </a>
        </div>
        <div class="question-line_inactive">
                    ВОПРОС НЕ АКТИВЕН
        </div>
    {% endif %}


</fieldset>
</div>



<p id="demo"></p>

<script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
<script src="{% static 'js/tinymce/tinymce.min.js' %}" referrerpolicy="origin"></script>

<script>
    tinymce.init({
        selector:'#id_comment_text',
        //menubar: false,
        promotion: false,
        branding: false,
        });
</script>

<script>
    //Обрабатываем удаление картинки
    function delIMG(event) {
        var data = {delIMG: event}
        console.log('DATA:' + data);
        var url = "{% url 'quize737:all_img_for_q_upload' q_id %}";
         $.ajax({
            type: 'post',
            headers: {'X-CSRFToken': '{{csrf_token}}' },
            url: url,
            dataType: 'html',
            data: data,
            //processData: false,
            //contentType: false,
            success: function (content) {
                      // Success callback function
                      console.log('Event:' + event);
                      if (event == 'DelAIMG') {
                        $("#id_comment_img").val(null);  //очищаем форму загрузки картинки
                        $("#a_img_display").attr('style', 'display: none;'); //Скрываем поле с картинкой
                        $("#DelAIMGField").attr('style', 'display: none;'); //Скрываем поле с кнопкой удалить
                      } else {
                        $("#id_question_img").val(null);  //очищаем форму загрузки картинки
                        $("#q_img_display").attr('style', 'display: none;'); //Скрываем поле с картинкой
                        $("#DelQIMGField").attr('style', 'display: none;'); //Скрываем поле с кнопкой удалить
                      }

            },
         });

    };

</script>

<script>
    //Загрузка картинки ответа
    //$('#loadAIMG').click(function(event) {
    $('#id_comment_img').change(function(event) {
        event.preventDefault();
        if ($("#id_comment_img").val() != '') {
            var file = $('#id_comment_img').prop('files');
            var data = new FormData();
            data.append('comment_img', file[0]);
            var url = "{% url 'quize737:all_img_for_q_upload' q_id %}";
            //console.log('ACTION:' + url);
            //console.log('DATA:' + file[0]);

            $.ajax({
                type: 'POST',
                headers: {'X-CSRFToken': '{{csrf_token}}' },
                url: url,
                data: data,
                processData: false,
                contentType: false,
                success: function (content) {
                          // Success callback function
                          //console.log('DATA:' + content);
                          $("#id_comment_img").val(null);  //Обнуляем форму загрузки
                          $("#a_img_display").attr('style', 'display: block;'); //Показываем поле с картинкой
                          $("#a_img_src").attr('src', content);  //Выгружаем ссылку на картинку
                          $("#DelAIMGField").attr('style', 'display: block;'); //Показываем кнопку удалить
                          location.reload();
                        },
                error: function (xhr, ajaxOptions, thrownError) {
                          // error callback function
                          //console.log('DATA:' + xhr.responseText);
                          //console.log('DATA:' + thrownError);
                          $("#id_question_img").val(null);
                          $("#a_img_error").attr('style', 'display: block;');
                          $("#a_img_error").html(xhr.responseText);
                        },
            });
        } else {
            alert('Картинка не выбрана')
        };
    });

    //Загрузка картинки вопроса
    //$('#loadQIMG').click(function(event) {
    $('#id_question_img').change(function(event) {
        event.preventDefault();

        console.log('Нажали кнопку');
        if ($("#id_question_img").val() != '') {
            var file = $('#id_question_img').prop('files');
            console.log('Файл присутствует в форме');
            var data = new FormData();
            data.append('question_img', file[0]);
            var url = "{% url 'quize737:all_img_for_q_upload' q_id %}";
            //console.log('ACTION:' + url);
            //console.log('DATA:' + file[0]);

            $.ajax({
                type: 'POST',
                headers: {'X-CSRFToken': '{{csrf_token}}' },
                url: url,
                data: data,
                processData: false,
                contentType: false,
                success: function (content) {
                          // Success callback function
                          //console.log('DATA:' + content);
                          $("#id_question_img").val(null); //Обнуляем форму загрузки
                          $("#q_img_display").attr('style', 'display: block;');  //Показываем поле с картинкой
                          $("#q_img_src").attr('src', content); //Выгружаем ссылку на картинку
                          $("#DelQIMGField").attr('style', 'display: block;'); //Показываем кнопку удалить
                          location.reload();
                        },
                error: function (xhr, ajaxOptions, thrownError) {
                          // error callback function
                          //console.log('DATA:' + xhr.responseText);
                          //console.log('DATA:' + thrownError);
                          $("#id_question_img").val(null);
                          $("#q_img_error").attr('style', 'display: block;');
                          $("#q_img_error").html(xhr.responseText);
                        },
            });
        } else {
            alert('Картинка не выбрана')
        };
    });

</script>

<script>
// Активируем/Деактивируем вопрос по нажатию на иконку
    //преобразуем данные формы в JSON
    function getFormData($form){
    var unindexed_array = $form.serializeArray();
    var indexed_array = {};
    $.map(unindexed_array, function(n, i){

        indexed_array[n['name']] = n['value'];

    });
    //console.log(indexed_array);
    return indexed_array;
}
    //Коенкретно сдесь активируем/деактивируем вопрос
    function inActive(clicked_id) {
        //console.log('ID элемента: ' + clicked_id);
        var $form = $("#question_data");
        var data = getFormData($form);
        data['q_switch_id'] = clicked_id;
        $.get("{% url 'quize737:question_list_details' q_id %}", data, function(content){
            //console.log(content);
            document.open();
            document.write(content);
            document.close();
            //$('html').html(content);
            //document.innerHTML = content;
            });
        };


</script>

<script>
//Подгоняем текстовые поля под размер текста
    let Textarea = document.querySelectorAll("textarea");
    for (i of Textarea) {
        var q_text_Length = i.value.length;
        var q_rows_length = 1
        if (q_text_Length != 0) {
            if ( q_text_Length > 100 ) { q_rows_length = Math.ceil(q_text_Length/100);
                                  q_text_Length = 100 };
                //var q_field = document.getElementById("question");
                i.setAttribute("cols", q_text_Length);
                i.setAttribute("rows", q_rows_length);
            };
        };

</script>

<script>

//Скрипт определяет изначальную видимость полей, в зависимости от вида вопроса
var checkBox = document.getElementById("q_kind");
var answer_field = document.getElementById("answer");
var answers_field = document.getElementById("answers");
var checkBox_value = "{{question_form.q_kind.value}}"

if (checkBox_value == "True") {
    checkBox.checked = true; } else {
    checkBox.checked = false;
    }


if (checkBox.checked == true) {
        answers_field.style.display = "block";
        answer_field.style.display = "none"; } else {
        answers_field.style.display = "none";
        answer_field.style.display = "block";
        }


//Функция скрывает или паказывает нужные поля, в зависимости от варианта вопроса
function hideFunc() {
    var checkBox = document.getElementById("q_kind");
    var answer_field = document.getElementById("answer");
    var answers_field = document.getElementById("answers");
    if (checkBox.checked == true){
        answers_field.style.display = "block";
        answer_field.style.display = "none"; } else {
        answers_field.style.display = "none";
        answer_field.style.display = "block";
        }
    }

//Динамическое изменение поля ввода текста вопроса
function autoGrow() {
    var q_text=document.getElementById(event.target.id)
  if (q_text.scrollHeight > q_text.clientHeight) {
    q_text.style.height = `${q_text.scrollHeight}px`;
  }
}


//var box = document.getElementById("q_kind");
//var x = box.getAttribute("checked")
//document.getElementById("demo").innerHTML = "Value: " + checkBox_value + ' ' + x


</script>


{% endblock %}