{% extends "base_test.html" %}

{% block content %}
{% load tags %}
{% load static %}

<fieldset>
    <legend>
        {% if q_num_left %}
        <span class="q_num_count">Осталось {{q_num_left}}</span>
        {% endif %}
        <span style="color: black;"> | </span>
        {% if q_instance.ac_type != 'ANY' %}
        <span>Тип ВС: {{q_instance.ac_type}}</span>
        {% else %}
        <span>Все Типы ВС</span>
        {% endif %}
        <span style="color: black;"> | </span>
        <span>{{q_instance.them_name}}</span>
    </legend>
    <div>
        <form method='post' action='{% url "quize737:next_question" %}' id="question">

            <input type="hidden" name="tmp_test_id" value="{{tmp_test_id}}">
            <input type="hidden" name="result_id" value="{{result_id}}">
            <input type="hidden" name="question_id" value="{{question_id}}">
            {% csrf_token %}
            <div>
                <label class="question"><b>{{question}}</b></label>
            </div>
            {% if q_instance.question_img %}
                <div class="q_img_block">
                    <input type="checkbox" style="display:none;" id="zoomCheck_q">
                    <label for="zoomCheck_q">
                     <img id="q_img_src" class="q_img_src" src="{{q_instance.question_img.url}}">
                    </label>
                </div>
            {% endif %}

            {% for option, value in option_dict.items|random_loop %}
            {% if value and value != 'None' %}
            <div class="radiobuttons">
                <input type="radio" name="user_answer" id="{{option}}" value="{{option}}" checked>
                <div class="option-value">
                    <label for="{{option}}" class="option-value">{{value}}</label>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </form>
        <div class="button_answer">
            <input type="submit" value="Ответить" id="answer_btn" form="question">
            <span id="wait" style="display: none;">Ответ принят, ожидайте...</span>
        </div>
    </div>
</fieldset>

{% include "test_common.html" %}

{% endblock %}


