<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start Page</title>

</head>
<body>
<form id="data" method='post'>
    {% csrf_token %}
<p>ФИО Тестируемого</p><input type="text" id="fio" name="user_name" required
       minlength="4" maxlength="30" size="20">
<br>
<p>Количство вопросов по каждой теме <input type="number" id="" name="q_num" required
                                           minlength="1" maxlength="2" size="1">
    <button type="submit" form="data">Начать</button>
</p>
</form>
</body>
</html>