
{% extends "base_start.html" %}

{% block content %}


<div>
    <fieldset>
        <legend>Профиль тестированя</legend>
        <form  id="data" method='post'>
        {% csrf_token %}
            <input type="hidden" name="question_set" id="question_set" value="{{user_test.test_name.id}}">
            <h1>"{{test_name.name}}"</h1>
            <p>Выполнить до: {{user_test.date_before | date:"d.m.Y"}}</p>
            <p>Минимальное количество правильных ответов: {{test_name.pass_score}}%
            <h3>Вопросы:</h3>
                {% for them in question_set%}
                    <p>{{them.theme}}: {{them.q_num}} вопроса(ов)</p>
                {% endfor %}
            <p><button type="submit" form="data">Начать Тестирование</button></p>
        </form>
    </fieldset>
</div>

{% endblock %}