
{% extends "base_start.html" %}

{% block content %}



<fieldset>
        <legend>Профиль тестированя</legend>
        {% if in_progress %}
            <form  id="in progress" method='post' action="{% url 'quize737:next_question' %}">
                <input type="hidden" name="tmp_test_id" value="{{tmp_test_id}}">
                <input type="hidden" name="result_id" value="{{result_id}}">
                <input type="hidden" name="question_id" value="{{question_id}}">
                <input type="hidden" name="continue_test" value="True">
        {% else %}
            <form  id="data" method='post'>
        {% endif %}

        {% csrf_token %}
            <input type="hidden" name="question_set" id="question_set" value="{{user_test.test_name.id}}">
            <div class="block_none_light_up">
                <span class="main_sign">{{test_name.name}}</span>
            </div>
            <div class="block_none_light_up">
                <div class="list-text_numtry">
                    <span>Количество попыток: </span>
                </div>
                <div class="list-number_num_try">
                        {% if user_test.num_try >= 2 %}
                            <span style="color: rgb(148, 192, 74)">{{user_test.num_try}}</span>
                        {% elif user_test.num_try > 0 and user_test.num_try < 2 %}
                            <span style="color: rgb(202, 163, 13)">{{user_test.num_try}}</span>
                        {% else %}
                            <span style="color: rgb(142, 23, 11)">{{user_test.num_try}}</span>
                        {% endif %}
                    </div>
                <div class="list-do_before_text">
                        <span>Выполнить до:</span>
                    </div>
                <div class="list-date">
                        <span class="mark_up">{{user_test.date_before | date:"d.m.Y"}}</span>
                    </div>

                <div class="list-pass_score_text">
                    <span>Проходной балл: </span>
                </div>
                <div class="list-pass_score_num">
                    <span class="mark_up">{{test_name.pass_score}}%</span>
                </div>

            </div>
            <br>



            {% if user_test.num_try > 0 %}

            <hr/>

            <div class="block_none_light_up">
                <span class="main_sign">Вопросы теста:</span>
            </div>
                <div class="block_none_light_up">
                {% for them in question_set %}
                    <div class="them_q_num_line">
                        <div class="list-them">
                            <span class="theme_color">{{them.theme|truncatechars:16}}:</span>
                        </div>
                        <div class="list-q_number">
                            <span class="mark_up">{{them.q_num}}</span> вопр.
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                        </div>
                        <div class="block_none_light_up">
                    {% endif %}
                {% endfor %}
                </div>
            <div>
                {% if in_progress %}
                <hr/>
                <div class="block_none_light_up">
                    <span>У вас есть не завершённая попытка тестирования</span>
                </div>
                <div class="block_none_light_up">
                    <span>Вопросов осталось: <span class="mark_up"> {{q_num_left}}</span></span>
                </div>
                <div class="block_none_light_up">
                    <input type="submit" form="in progress" value="Продолжить попытку">
                </div>
                {% else %}
                <div class="block_none_light_up">
                    <input type="submit" form="data" value="Начать Тестирование">
                </div>
                {% endif %}
            </div>
            {% else %}
                {% if in_progress %}
                    <hr/>
                    <div class="block_none_light_up">
                        <span>У вас есть не завершённая попытка тестирования</span>
                    </div>
                    <div class="block_none_light_up">
                        <span>Вопросов осталось: <span class="mark_up"> {{q_num_left}}</span></span>
                    </div>
                     <div class="block_none_light_up">
                        <input type="submit" form="in progress" value="Продолжить попытку">
                    </div>
                {% else %}
                <hr/>
                     <div class="block_none_light_up">
                        <span>Попытки израсходованы, обратитесь к руководству отряда</span>
                    </div>
                {% endif %}
            {% endif%}
        </form>
            </form>
</fieldset>


{% endblock %}