{% extends "base_test.html" %}

{% block content %}
{% load tags %}
{% load static %}

    <fieldset>
        <legend>
        {% if q_num_left %}
                <span class="q_num_count">Осталось {{q_num_left}}</span>
            {% endif %}
            <span style="color: black;"> | </span>
            {% if q_instance.ac_type != 'ANY' %}
                <span>Тип ВС: {{q_instance.ac_type}}</span>
            {% else %}
                <span>Все Типы ВС</span>
            {% endif %}
            <span style="color: black;"> | </span>
                <span>{{q_instance.them_name}}</span>
        </legend>
        <div>
            <form method='post' action='{% url "quize737:next_question" %}' id="question">
                <input type="hidden" name="tmp_test_id" value="{{tmp_test_id}}">
                <input type="hidden" name="result_id" value="{{result_id}}">
                <input type="hidden" name="question_id" value="{{question_id}}">

                {% csrf_token %}
                <label class="question"><b>{{question}}</b></label>

                {% if q_instance.question_img %}
                <div class="q_img_block" id='q_img_display'>
                    <input type="checkbox" style="display:none;" id="zoomCheck_q">
                    <label for="zoomCheck_q">
                     <img class='a_img_src' id='q_img_src' src="{{q_instance.question_img.url}}">
                    </label>
                </div>
            {% endif %}

                {% for option, value in option_dict.items|random_loop %}
                    {% if value %}
                        <div class="radiobuttons">
<!--                            <div class="option">-->
<!--                                <div class="option-choice">-->
                                    <input type="checkbox" name="user_answer" id="{{option}}" value="{{option}}">
                                    <div class="option-value">
                                        <label for="{{option}}" class="option-value">{{value}}</label>
                                    </div>
<!--                                </div>-->
<!--                                <div class="option-value">{{value}}</div>-->
<!--                            </div>-->
                        </div>
                    {% endif %}
                {% endfor %}
            </form>
            <form id="pause_test" action='{% url "quize737:start" %}'>
            </form>
            <div class="button_answer">
                <div style="display:inline-block;left: 7%; position: relative;">
                    <input type="submit" value="Ответить" id="answer_btn" form="question">
                    <span id="wait" style="display: none;">Ответ принят, ожидайте...</span>
                </div>
                <div style="display:inline-block;right: -80%; position: relative;">
                    <input type="submit" value="Прервать Тест" form="pause_test" onclick="return confirm('Тест можно будет продолжить с текущего места. Прервать тест?') || event.preventDefault()">
                </div>
            </div>
        </div>
    </fieldset>

    {% include "test_common.html" %}

{% endblock %}


