{% extends "base_test.html" %}

{% block content %}
<section>

<form method='post' action='{% url "next_question" %}'>

    <!--Скрытое поле с id теста пользователя -->
        <input type="hidden" name="user_set_id" value="{{user_set_id}}">
    <!--Скрытое поле id результатов теста пользователя -->
        <input type="hidden" name="results_object_id" value="{{results_object_id}}">
    <!--Скрытое поле id результатов теста пользователя -->
        <input type="hidden" name="user_name" value="{{user_name}}">
    <!--    Скрытое поле с видом вопроса-->
        <input type="hidden" name="q_kind" value="{{q_kind}}">

    {% csrf_token %}
    {% for q in question%}
    <div>

        <!-- Скрытое поле с правильным ответом на вопрос, будет передаваться в далее, для сравнения с ответом пользователя -->
        <input type="hidden" name="answers" value="{{q.answers}}">

        <!--Скрытое поле с "Весом вопроса", будет учитывать при подсчёте баллов -->
        <input type="hidden" name="q_weight" value="{{q.q_weight}}">



        <label class="question"><b>{{q.question}}</b></label>

    </div>
    <br>
    <br>
    <div>
        <div class="radiobuttons">
            <input type="checkbox" name="user_answer_1" id="1" value="1">
            <label class="option" for="1">
                {{q.option_1}}
            </label>
        </div>
        <br>
        <div class="radiobuttons">
            <input type="checkbox" name="user_answer_2" id="2" value="2">
            <label class="option" for="2">
                {{q.option_2}}
            </label>
        </div>
        {% if q.option_3 %}
        <br>
        <div class="radiobuttons">
            <input class="form-check-input" type="checkbox" name="user_answer_3" id="3" value="3">
            <label class="option" for="3">
                {{q.option_3}}
            </label>
        </div>
        {% endif %}
        {% if q.option_4 %}
            <br>
            <div class="radiobuttons">
                <input type="checkbox" name="user_answer_4" id="4" value="4">
                <label class="option" for="4">
                    {{q.option_4}}
                </label>
            </div>
        {% endif %}

        {% if q.option_5 %}
            <br>
            <div class="radiobuttons">
                <input type="checkbox" name="user_answer_5" id="5" value="5">
                <label class="option" for="5">
                    {{q.option_5}}
                </label>
            </div>
        {% endif %}
        <br>

    </div>
    {% endfor %}

    <br>
    <br>
    <button type="submit" class="btn btn-primary">Ответить</button>
  </form>
</section>

{% endblock %}