{% extends "base_start.html" %}

{% block content %}


    <fieldset>
        <legend>Профиль тестированя</legend>
        <form  id="data" method='post'>
        {% csrf_token %}
            {% if user_tests|length > 0 %}
                <p>Вам назначены тесты:</p>
                {% for test in user_tests %}
            <div class="block_light_up">
                {% if test.test_name.id in tests_in_prog %}
                    <div>
                {% else %}
                    <div style="padding-bottom: 18px">
                {% endif %}
                <a href="{% url 'quize737:start' test.test_name.id %}">
                    <div class="list-test_name">
                        <span class="mark_up">{{test.test_name}}</span>
                    </div>
                    <div class="list-text_numtry">
                        <span>Количество попыток: </span>
                    </div>
                    <div class="list-number_num_try">
                        {% if test.num_try >= 2 %}
                            <span style="color: rgb(148, 192, 74)">{{test.num_try}}</span>
                        {% elif test.num_try > 0 and test.num_try < 2 %}
                            <span style="color: rgb(202, 163, 13)">{{test.num_try}}</span>
                        {% else %}
                            <span style="color: rgb(142, 23, 11)">{{test.num_try}}</span>
                        {% endif %}
                    </div>
                    <div class="list-do_before_text">
                        <span>Выполнить до:</span>
                    </div>
                    <div class="list-date">
                        <span class="mark_up">{{test.date_before | date:"d.m.Y"}}</span>
                    </div>
                </a>
                </div>
                {% if test.test_name.id in tests_in_prog %}
                <div style="position: relative; left: 5%; color: #6d2126; font-size: 13px; padding-bottom: 18px;">
                    <span >Незавершённая попытка</span>
                </div>
                {% endif %}


            </div>

            {% endfor %}

            {% else %}
                <p>Назначенные Тесты отсутствуют</p>
            {% endif %}
            {% if request.user|has_group:'krs' or user.is_superuser %}

                {% if expired_tests %}
                <hr>
                <div style="padding-bottom: 5px;">
                    <span ><u>Просроченные тесты:</u></span>
                </div>
                    {% for test in expired_tests%}
                    <div class="block_light_up" title='В тесте "{{test.test_name.name}}" {% if test.num_try <= 0 %} исчерпаны попытки {% else %} просрочена дата сдачи {% endif %}'>
                        <div class="list-fio">
                            <a href="{% url 'quize737:user_detales' test.user.id %}">{{test.user.profile.family_name}}
                            {{test.user.profile.first_name}} {{test.user.profile.middle_name}}</a>
                        </div>
                        <div class="list-ac_type">
                            <span class="theme_color">{{test.user.profile.ac_type}}</span>
                        </div>

                        <div class="list-position">
                            <span class="theme_color">{{test.user.profile.position}}</span>
                        </div>
                        <div class="list-user_test_list">
                            <span>{{test.test_name.name}}</span>
                        </div>
                        <div class="test_num_try">
                            <span  style="{% if test.num_try <= 0 %} border: 2px solid #aa272f; padding-left: 5px; padding-right: 5px; {% endif %}">Попытки: {{test.num_try}}</span>
                        </div>
                        <div class="test_date">
                            <span  style="{% if test.num_try <= 0 %} border: 2px solid #aa272f; padding-left: 5px; padding-right: 5px; {% endif %}">Попытки: {{test.num_try}}</span>
                        </div>
                    </div>
                    {% endfor %}

                {% endif %}
            {% endif %}

        </form>
    </fieldset>


{% endblock %}