{% extends "base_test.html" %}

{% block content %}
{% load tags %}

<section>
    <fieldset>
        <legend>
         {% if q_num_left %}
                <span class="q_num_count">Осталось {{q_num_left}}</span>
            {% endif %}
        </legend>
        <div>
            <form method='post' action='{% url "quize737:next_question" %}' id="question">

                <input type="hidden" name="tmp_test_id" value="{{tmp_test_id}}">
                <input type="hidden" name="result_id" value="{{result_id}}">
                <input type="hidden" name="question_id" value="{{question_id}}">

                {% csrf_token %}
                <label class="question"><b>{{question}}</b></label>
                {% for option, value in option_dict.items|random_loop %}
                    {% if value %}
                        <div class="radiobuttons">

                                <input type="radio" name="user_answer" id="{{option}}" value="{{option}}" checked>

                            <label class="option" for="{{option}}">
                                {{value}}
                            </label>
                        </div>
                    {% endif %}
                {% endfor %}
            </form>
            <div class="button_answer">
                <input type="submit" value="Ответить" id="answer_btn" form="question">
                <span id="wait" style="display: none;">Ответ принят, ожидайте...</span>
            </div>
        </div>
    </fieldset>
</section>
<script type="text/javascript">
    const btn = document.getElementById('answer_btn');
    btn.addEventListener('click', () => {
      btn.style.display = 'none';
      const box = document.getElementById('wait');
      box.style.display = 'block';
    });
</script>
{% endblock %}