{% extends "main_base.html" %}

{% block content %}

{% load django_template_maths %}

<fieldset>
            <legend>
                <a href="{% url 'quize737:test_editor' %}">Список Тестов</a>
                <span style="color: black;"> | </span>
                <a href='{% url "quize737:new_test_ac_type" %}'>Добавить Тест</a>
                <span style="color: black;"> | </span>
                <span>РЕДАКТИРОВАНИЕ ТЕСТА</span>
            </legend>
    <div class="block-list">
        <h4>{{email_error}}</h4>
        <h4>{{non_form_errors}}</h4>

        {% for error in form_errors%}
        <h4>{{error}}</h4>
        {% endfor %}


                <!--Перебираем количество вопросов по темам-->
        {% for them, q_num in q_num_per_them.items %}
            <input type="hidden" id="{{them.id}}" value="{{q_num}}">
        {% endfor %}


        <form id="question_form" method='post'>
          {% csrf_token %}

            <p>Название теста {{test_name_form.name}}
            <span>Тип ВС: <span class="mark_up"><b>{{ac_type}}</b></span></span>
            <span>{{test_name_form.training}} Тренировка <span class="comment">(Письмо КРС не отправляется, результат не записывается)</span></span>
            </p>
            <p>Минимальное количество правильных ответов {{test_name_form.pass_score}}%</p>
            <p>Кому отправлять письмо с результатами: <span class="comment">(Из группы KRS)</span></p>
            <p>
                    {% for user_krs in krs_list%}
                        {% if user_krs.email in checked_emailes %}
                            <input type="checkbox" id="krs_email" name="krs_email" value="{{user_krs.email}}" checked><span class="mark_up">{{user_krs.last_name}} {{user_krs.first_name.0}}.{{user_krs.profile.middle_name.0}}.</span>
                        {% else%}
                            <input type="checkbox" id="krs_email" name="krs_email" value="{{user_krs.email}}"><span class="mark_up">{{user_krs.last_name}} {{user_krs.first_name.0}}.{{user_krs.profile.middle_name.0}}.</span>
                        {% endif %}
                    {% endfor %}
            </p>
            <br>
            <input type="hidden" id="test_id_num" value="{{test_id}}">
            {{ test_q_set.management_form }}
            {% for form in test_q_set %}
            <div class="q_forms">
                <span class="test_theme_list">Тема: {{ form.theme }} </span>
                <span class="test_q_num">Количество вопросов: {{ form.q_num }}</span>
                <span>Max. </span><span id="max_q_{{ forloop.counter|sub:'1' }}" class="mark_up"></span>
                <span class="test_theme_del">{{ form.DELETE }} Удалить тему</span>
            </div>
            <br>
            {% endfor %}

            <input type="button" id="add-form" value="+ Добавить тему">
            <br>
            <br>
            <br>
        </form>
        <input type="submit" value="Сохранить" form="question_form"><span style="color: black;"> | </span> <input type="submit" value="Удалить тест" form="del_dest" onclick="return confirm('Удалить Тест?') || event.preventDefault()">

        <form method="post" action="{% url 'quize737:del_test' test_id %}" id="del_dest">
        {% csrf_token %}

        </form>

        <br>
        <input type="submit" value="Вернуться" onClick="javascript:history.go(-1);">

    </div>
</fieldset>




<!--https://www.brennantymrak.com/articles/django-dynamic-formsets-javascript-->

<script type="text/javascript">

        // Вычисление количества вопросов

        let Select = document.querySelectorAll("select");
        //document.getElementById("demo").innerHTML = "Value: " + Select
        var numberPattern = /\d+/g;  //Регулярное выражение, что бы выбрать номер формы

        for (i of Select) {  // Перебираем уже существующие поля, вешаем listener и подставляем количество вопросов из темы
                i.addEventListener('change', ThemSelection); // Вешаем listener на объект select
                // Вынимаем порядковый номер формы, для сихронизации с полем количества вопросов

                let select_id = i.name.match( numberPattern ) // Номер поля



                let valueOfSelect = i.value //Вынимаем значение выбранного поля
                let numOfqAct = document.getElementById(valueOfSelect).value // Вынимаем количество вопросов из скрытого поля

                document.getElementById("max_q_" + select_id).innerHTML = ' ' + numOfqAct // Берём объект поля ввода и вносим значение количества вопросов
                let numField = document.getElementById("id_questions-" + select_id + "-q_num") // Ищем объект поля ввода количества вопросов
                numField.setAttribute('max', `${numOfqAct}`) // Устанавливаем максимально возможное значение

                //document.getElementById("demo_0").innerHTML = "Value_0: " + valueOfSelect

             };

        function ThemSelection(event){ //Функция отслеживаем выбранную тему и подставляет количество вопросов
            event.preventDefault()
            //let TargetName = event.target

            //document.getElementById("demo_0").innerHTML = "Value_0: " + event.target.value

            let select_id = event.target.name.match( numberPattern ) // Номер поля

            //document.getElementById("demo_1").innerHTML = "Value_1: " + select_id

            let valueOfSelect = event.target.value //Вынимаем значение выбранного поля
            let numOfqAct = document.getElementById(valueOfSelect).value // Вынимаем количество вопросов из скрытого поля
            document.getElementById("max_q_" + select_id).innerHTML = ' ' + numOfqAct // Берём объект поля ввода и вносим значение количества вопросов
            let numField = document.getElementById("id_questions-" + select_id + "-q_num") // Ищем объект поля ввода количества вопросов
            numField.setAttribute('max', `${numOfqAct}`) // Устанавливаем максимально возможное значение

            }

        //Создаём новые формы
        let qForm = document.querySelectorAll(".q_forms")
        let container = document.querySelector("#question_form")
        let addButton = document.querySelector("#add-form")
        let totalForms = document.querySelector("#id_questions-TOTAL_FORMS")


        let formNum = qForm.length-1 // Get the number of the last form on the page with zero-based indexing
        addButton.addEventListener('click', addForm)

        function addForm(e){
            e.preventDefault()

            let newForm = qForm[0].cloneNode(true)
            let formRegex = RegExp(`questions-(\\d){1}-`,'g')
            let fieldRegex = RegExp(`max_q_(\\d){1}`,'g')



            formNum++
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `questions-${formNum}-`)
            newForm.innerHTML = newForm.innerHTML.replace(fieldRegex, `max_q_${formNum}`)
            container.insertBefore(newForm, addButton)
            var sp1 = document.createElement("br")
            container.insertBefore(sp1, addButton)
            newForm.addEventListener('change', ThemSelection); // Вешаем listener на объект select



            totalForms.setAttribute('value', `${formNum+1}`)

            // Устанавливаем начальные значения
            let q_field = document.getElementById(`id_questions-${formNum}-q_num`) // Ищем новое поле с количеством вопросов
            q_field.setAttribute('value', '1')
            let them_field = document.getElementById(`id_questions-${formNum}-theme`) // Ищем новое поле с темой
            them_field.value = '5'
            let numOfqAct = document.getElementById('5').value
            document.getElementById("max_q_" + formNum).innerHTML = ' ' + numOfqAct // Берём объект поля ввода и вносим значение количества вопросов


        }



</script>

{% endblock %}
