{% extends "main_base.html" %}

{% block content %}

<fieldset>
    <legend>
        <a href="{% url 'quize737:test_editor' %}">СПИСОК ТЕСТОВ</a>
        <span style="color: black;"> | </span>
        <a href='{% url "quize737:new_test_ac_type" %}'>Добавить тест</a>
    </legend>

    <div class="block-list">
        <div class="block_none_light_up">
            <div class="search-form">
                <form id="test_search" action="{% url 'quize737:test_editor' %}" method="get">
                <input type="text" name="test_search" placeholder="Поиск теста...">
                <input type="submit" value="Искать">
                </form>
        </div>
        </div>
        {% if no_search_results %}
            <div>
                <span style="color: rgb(209, 209,209);">{{results}}</span>
            </div>
        {% else %}
            {% for test in tests_names %}
                <div class="block_light_up">
                    <div class="list-test_name">
                        <a href="{{test.id}}"><span style="color: black;"></span> {{test.name}}</a>
                    </div>
                    <span style="color: black;"> | </span>
                    <div class="test_ac-type">
                        {{test.ac_type}}
                    </div>
                    <span style="color: black;"> | </span>
                    <div class="test_total_q_num">
                        <span>Вопросов: <span class="mark_up">{{total_q_num|get_item:test.name}}</span></span>
                    </div>
                    <span style="color: black;"> | </span>
                    <div class="test_total_users">
                        <a href="/user_list/?position_filter=Все&position_filter=Все&position_filter=Все&position_filter={{test.name}}">Назначен: {{users|get_item:test.name}}</a>
                    </div>
                    <span style="color: black;"> | </span>
                    <div class="test_them_list">
                        <span>{{total_them|get_item:test.name|join:"; "}}</span>
                    </div>
                    <span style="color: black;"> | </span>
                    <div class="test_training">
                        {% if test.training %}
                            <span>Трен.</span>
                        {% else %}
                            <span></span>
                        {% endif %}
                    </div>
                    <span style="color: black;"> | </span>
                    <div class="list-delete">
                        <a href="{% url 'quize737:del_test' test.id %}" onclick="return confirm('Удалить Тест: {{test.name}}?') || event.preventDefault()">Удалить</a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <br>
        {% include "paginator.html" with page=tests_names %}

    <!--<form method='get' action='{% url "quize737:start" %}'>-->
    <!--<button type="submit">На главную</button>-->
    <!--</form>-->
    </div>
</fieldset>

{% endblock %}