{% extends "main_base.html" %}
{% load static %}
{% block content %}

{% load django_template_maths %}

<fieldset>
    <legend>
        <a href="{% url 'quize737:test_editor' %}">Список Тестов</a>
        <span style="color: black;"> | </span>
        <a href='{% url "quize737:new_test_ac_type" %}'>Добавить Тест</a>
        <span style="color: black;"> | </span>
        <span>РЕДАКТИРОВАНИЕ ТЕСТА</span>
    </legend>
    <div class="block-list">
        <div class="block_none_light_up">
            <div class="form_errors">
                <p>{{email_error}}</p>
                <p>{{non_form_errors}}</p>
                {% for error in form_errors%}
                <p>{{error}}</p>
                {% endfor %}
            </div>
        </div>


        <!--Перебираем количество вопросов по темам-->
        {% for them, q_num in q_num_per_them.items %}
        <input type="hidden" id="{{them.id}}" value="{{q_num}}">

        {% endfor %}
        <input type="hidden" id="target_them_num" value="{{target_them_num}}">

        <form id="question_form" method='post'>
            {% csrf_token %}

            <p>Название: {{test_name_form.name}}
                <span>Тип ВС: <span class="mark_up"><b>{{ac_type}}</b></span></span>
                <span>{{test_name_form.training}} Тренировка <span id="training_comment" class="comment">(Письмо КРС не отправляется, результат не записывается)</span></span>
            </p>
            <p>Минимальное количество правильных ответов {{test_name_form.pass_score}}%</p>

            <hr/>

            <div id="email_select_panel">
            <p>Кому отправлять письмо с результатами: <span class="comment">(Из группы KRS)</span></p>
            <div class="fio_row">
                {% for user_krs in krs_list%}
                {% if user_krs.email in checked_emailes %}
                <div class="fio_column_short">
                    <input type="checkbox" id="krs_email" name="krs_email" value="{{user_krs.email}}" checked>
                    <span class="mark_up">{{user_krs.last_name}} {{user_krs.first_name.0}}.{{user_krs.profile.middle_name.0}}.</span>
                </div>
                {% if forloop.counter|divisibleby:4 %}
            </div>
            <div class="fio_row">
                {% endif %}
                {% else%}
                <div class="fio_column_short">
                    <input type="checkbox" id="krs_email" name="krs_email" value="{{user_krs.email}}">
                    <span class="mark_up">{{user_krs.last_name}} {{user_krs.first_name.0}}.{{user_krs.profile.middle_name.0}}.</span>
                </div>
                {% if forloop.counter|divisibleby:4 %}
            </div>
            <div class="fio_row">
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>


            <hr/>
            </div>

            <div style="display: inline-block; margin-bottom: 10px; width: 200px; height: 30px;">
                <div style="display: inline-block; vertical-align: middle; height: 100%;">Всего вопросов: </div>
                <div class="q_num_mark" id="total_q_num">

                </div>
            </div>
            <br>
            <input type="hidden" id="test_id_num" value="{{test_id}}">
            {{ test_q_set.management_form }}
            {% for form in test_q_set %}
            <div class="q_forms">
                <div id="for_crossout_{{ forloop.counter|sub:'1' }}" style="display: inline-block;">
                    <span class="test_theme_list">Тема: {{ form.theme }} </span>
                    <span class="test_q_num">Количество вопросов: {{ form.q_num }}</span>
                    <span>Max. </span><span id="max_q_{{ forloop.counter|sub:'1' }}" class="mark_up"></span>
                </div>
                <span class="test_theme_del" style="display: inline-block;">{{ form.DELETE }} Удалить тему</span>
            </div>
            <br>
            {% endfor %}

            <input type="button" id="add-form" value="+ Добавить тему">
            <br>
            <br>
            <br>
        </form>
        <form id="go-back" action="{% url 'quize737:go_back_button' %}">
            <input type="hidden" name="previous_url" value="{{previous_url}}">
        </form>
        <input type="submit" value="Сохранить" form="question_form">
        <span style="color: black;"> | </span>
        <input type="submit" value="Вернуться" form="go-back">
        <span style="color: black;"> | </span>
        <input type="submit" value="Удалить тест" form="del_dest"
               onclick="return confirm('Удалить Тест?') || event.preventDefault()">

        <form method="post" action="{% url 'quize737:del_test' test_id %}" id="del_dest">
            {% csrf_token %}

        </form>

        <br>


    </div>
</fieldset>

<script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>

<script type="text/javascript">

var numberPattern = /\d+/g;  //Регулярное выражение, что бы выбрать номер формы

//Подсчитываем общее количество вопросов
    //Считаем общее количество вопросов при открытии теста
    let totalQNum = document.getElementById("total_q_num"); //Элемент с общим количеством вопросов
    totalQNum.value = 0; //Ставим изначальное значение количества вопросов 0
    //Подсчёт количества вопросов при открытии теста
        //Выбираем все элементы input type=number, кроме 'pass score',
        //подсчитываем количество вопросов и развешиваем listener
    $(':input[type="number"]').not(':input[name="pass_score"]').each(function(index, element) {
        let idNum = element.id.match(numberPattern)[0] //Вынимаем номер элемента в фабрике форм
        let selectElemNum = document.getElementById("id_questions-" + idNum + "-theme").value; //Находим select с индексом idNum и берём его значение

        if (selectElemNum != '5') {  //Если значение поля выбора темы НЕ "Все темы"
            totalQNum.value = parseInt(totalQNum.value) + parseInt(element.value); //Переводим значения в цифры и складываем
            totalQNum.innerHTML = totalQNum.value;

        } else {
            totalQNum.value = parseInt(document.getElementById("target_them_num").value)*parseInt(element.value) + parseInt(totalQNum.value); //Переводим значения в цифры и складываем
            totalQNum.innerHTML = totalQNum.value;
                }

            element.addEventListener('input', QNumChanged); // Вешаем listener на объект input
        });


    //Базовая функция подсчёта вопросов при изменении любого из полей влияющих на количество вопросов
    function mainQCount() {
        totalQNum.value = 0; //Ставим изначальное значение количества вопросов 0
        totalQNum.innerHTML = totalQNum.value;
        $(':input[type="number"]').not(':input[name="pass_score"]').each(function(index, element) {
            let idNum = element.id.match(numberPattern)[0] //Вынимаем номер элемента в фабрике форм
            let delMarker = document.getElementById("id_questions-" + idNum + "-DELETE") // CheckBox поля "Удалить тему"

            //console.log(delMarker);

            if ( delMarker.checked != true) {
                let selectElemNum = document.getElementById("id_questions-" + idNum + "-theme").value; //Находим select с индексом idNum и берём его значение
                if (selectElemNum != '5') {  //Если значение поля выбора темы НЕ "Все темы"
                    totalQNum.value = parseInt(totalQNum.value) + parseInt(element.value); //Переводим значения в цифры и складываем
                    totalQNum.innerHTML = totalQNum.value;
                } else {
                    totalQNum.value = parseInt(document.getElementById("target_them_num").value)*parseInt(element.value) + parseInt(totalQNum.value); //Переводим значения в цифры и складываем
                    totalQNum.innerHTML = totalQNum.value;
                    }

            };
        });

        //Анимация количества вопросов
            $("#total_q_num").animate( {
                fontSize: "23px",
                    }, 130 );
            $("#total_q_num").animate( {
                fontSize: "19px",
                    }, 130 );
    };

//Функция деактивации строки, если выбрать "Удалить тему"
    //Выбираем все checkbox который относятся к "Удалить тему"
$(':input[type="checkbox"][name^=questions-][name$=-DELETE]').each(function(index, element) {
    element.addEventListener('input', markToDelete); // Вешаем listener на объект input
    //Если какая-то тема была отмечена к удалению при загрузке страницы (возврат из-за ошибки ввода пользователя)
    let idNum = element.id.match(numberPattern)[0] //Вынимаем номер элемента в фабрике форм

        if (element.checked == true) {

                $("#for_crossout_" + idNum).addClass("crossed_out_inactive");
            } else {
                $("#for_crossout_" + idNum).removeClass();
            }
    });

    function markToDelete(event) {

        let idNum = event.target.id.match(numberPattern)[0] //Вынимаем номер элемента в фабрике форм

        if (event.target.checked == true) {

                $("#for_crossout_" + idNum).addClass("crossed_out_inactive");
            } else {
                $("#for_crossout_" + idNum).removeClass();
            }
        //Пересчитываем количество вопросов
        mainQCount()
        }

//Функция отслеживает изменение поля количества вопросов
    function QNumChanged() {
        event.preventDefault();
        mainQCount();
        };
//Если тест тренировочный, что скрываем возможность выбора, кому отправлять email
        let trainingMark = document.getElementById("id_training")
        let emailSelecetBlock = document.getElementById("email_select_panel")

        if (trainingMark.checked == true) {
                    emailSelecetBlock.style.display = 'none';
                    $("#training_comment").attr("style", "color: rgba(209, 209,209); font-size: 18px;");
            }   else {
                    emailSelecetBlock.style.display = 'block';
                    $("#training_comment").attr("style", "color: rgba(209, 209,209, 0.4); font-size: 15px;");
            }

        trainingMark.addEventListener('change', TrainingFunc); // Вешаем listener на объект
        function TrainingFunc(event) {
            if (trainingMark.checked == true) {
                    emailSelecetBlock.style.display = 'none';
                    $("#training_comment").attr("style", "color: rgba(209, 209,209); font-size: 18px;");
            }   else {
                    emailSelecetBlock.style.display = 'block';
                    $("#training_comment").attr("style", "color: rgba(209, 209,209, 0.4); font-size: 15px;");
            }
        }

// Вычисление количества вопросов в конкретной теме
        let Select = document.querySelectorAll("select");
        //document.getElementById("demo").innerHTML = "Value: " + Select
        //var numberPattern = /\d+/g;  //Регулярное выражение, что бы выбрать номер формы

        for (i of Select) {  // Перебираем уже существующие поля, вешаем listener и подставляем количество вопросов из темы
                i.addEventListener('change', ThemSelection); // Вешаем listener на объект select
                // Вынимаем порядковый номер формы, для сихронизации с полем количества вопросов

                let select_id = i.name.match( numberPattern ) // Номер поля

                let valueOfSelect = i.value //Вынимаем значение выбранного поля
                let numOfqAct = document.getElementById(valueOfSelect).value // Вынимаем количество вопросов из скрытого поля

                document.getElementById("max_q_" + select_id).innerHTML = ' ' + numOfqAct // Берём объект поля ввода и вносим значение количества вопросов
                let numField = document.getElementById("id_questions-" + select_id + "-q_num") // Ищем объект поля ввода количества вопросов
                numField.setAttribute('max', `${numOfqAct}`) // Устанавливаем максимально возможное значение
             };

        function ThemSelection(event){ //Функция отслеживаем выбранную тему и подставляет количество вопросов
            event.preventDefault()
            let select_id = event.target.name.match( numberPattern ) // Номер поля
            let valueOfSelect = event.target.value //Вынимаем значение выбранного поля
            let numOfqAct = document.getElementById(valueOfSelect).value // Вынимаем количество вопросов из скрытого поля
            document.getElementById("max_q_" + select_id).innerHTML = ' ' + numOfqAct // Берём объект поля ввода и вносим значение количества вопросов
            let numField = document.getElementById("id_questions-" + select_id + "-q_num") // Ищем объект поля ввода количества вопросов
            numField.setAttribute('max', `${numOfqAct}`) // Устанавливаем максимально возможное значение

            //Пересчитываем количество вопросов
            mainQCount()

            }

//Создаём новые формы
        let qForm = document.querySelectorAll(".q_forms")
        let container = document.querySelector("#question_form")
        let addButton = document.querySelector("#add-form")
        let totalForms = document.querySelector("#id_questions-TOTAL_FORMS")
        let formNum = qForm.length-1 // Get the number of the last form on the page with zero-based indexing
        addButton.addEventListener('click', addForm)

        function addForm(e){
            e.preventDefault()
            let newForm = qForm[0].cloneNode(true)
            //Обновляем номера полей в форме
            let formRegex = RegExp(`questions-(\\d){1}-`,'g')
            let fieldRegex = RegExp(`max_q_(\\d){1}`,'g')
            let crossedOutRegex = RegExp(`for_crossout_(\\d){1}`,'g')

            formNum++
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `questions-${formNum}-`)
            newForm.innerHTML = newForm.innerHTML.replace(fieldRegex, `max_q_${formNum}`)
            newForm.innerHTML = newForm.innerHTML.replace(crossedOutRegex, `for_crossout_${formNum}`)
            container.insertBefore(newForm, addButton)
            var sp1 = document.createElement("br")
            container.insertBefore(sp1, addButton)

            totalForms.setAttribute('value', `${formNum+1}`)

            // Устанавливаем начальные значения в форме
            let q_field = document.getElementById(`id_questions-${formNum}-q_num`) // Ищем новое поле с количеством вопросов
            q_field.addEventListener('input', QNumChanged); // Вешаем listener на объект input
            q_field.setAttribute('value', '1')

            let them_field = document.getElementById(`id_questions-${formNum}-theme`) // Ищем новое поле с темой
            them_field.value = '5'
            them_field.addEventListener('change', ThemSelection); // Вешаем listener на объект select
            let numOfqAct = document.getElementById('5').value
            document.getElementById("max_q_" + formNum).innerHTML = ' ' + numOfqAct // Берём объект поля ввода и вносим значение количества вопросов

            let delete_field = document.getElementById(`id_questions-${formNum}-DELETE`) // Ищем новое поле с 'Удалить тему'
            delete_field.addEventListener('input', markToDelete); // Вешаем listener на объект checkbox 'Удалить тему'

            $("#for_crossout_" + formNum).removeClass();  // Если изначальной форме присвоен класс css, то убираем его

            //Пересчитываем количество вопросов
            mainQCount()

        }




</script>

{% endblock %}
