{% extends "main_base.html" %}
{% load static %}
{% block content %}

{% load django_template_maths %}

<fieldset>
    <legend>
        <a href="{% url 'quize737:test_editor' %}">Список Тестов</a>
        <span style="color: black;"> | </span>
        <a href='{% url "quize737:new_test_ac_type" %}'>Добавить Тест</a>
        <span style="color: black;"> | </span>
        <span>РЕДАКТИРОВАНИЕ ТЕСТА</span>
    </legend>
    <div class="block-list">
        <div class="block_none_light_up">
            <div class="form_errors">
                <p>{{email_error}}</p>
                <p>{{non_form_errors}}</p>
                {% for error in form_errors%}
                <p>{{error}}</p>
                {% endfor %}
            </div>
        </div>


        <!--Перебираем количество вопросов по темам-->
        {% for them, q_num in q_num_per_them.items %}
        <input type="hidden" id="{{them.id}}" value="{{q_num}}">

        {% endfor %}
        <input type="hidden" id="target_them_num" value="{{target_them_num}}">

        <form id="question_form" method='post'>
            {% csrf_token %}

            <p>Название: {{test_name_form.name}}
                <span>Тип ВС: <span class="mark_up"><b>{{ac_type}}</b></span></span>
                <span>{{test_name_form.training}} Тренировка <span id="training_comment" class="comment">(Письмо КРС не отправляется, результат не записывается)</span></span>
            </p>
            <p>Минимальное количество правильных ответов {{test_name_form.pass_score}}%
            <span>{{test_name_form.set_mark}} Выставлять оценку <span id="set_mark_comment" class="comment">(Выставлять оценку по пятибалльной системе)</span></span>
            </p>
                        <div id="set_mark_full_block">
                <hr/>
                <div class="test_marks">
                    <span>Оценка 2: Менее </span><span id="test_fail_mark" style="color: rgb(209, 209,209);font-size: 15px;">{{test_name_form.pass_score.value}}</span>
                </div>
                <div class="test_marks">
                    <span>Оценка 3: <input style="pointer-events: none;" type="text" size="4" id='id_test_name-min_score_three_value' name="min_score_three_value" value="{{test_name_form.pass_score.value}}"> - {{test_name_form.mark_four}} % <span class="comment">(включитльно)</span></span>
                </div>
                <div class="test_marks">
                    <span>Оценка 4: <input type="number" size="4" id='id_test_name-min_score_four_value' name='min_score_four_value' value="{{test_name_form.mark_four.value|add:1}}"> - {{test_name_form.mark_five}} % <span class="comment">(включитльно)</span></span>
                </div>
                <div class="test_marks">
                    <span>Оценка 5: Более </span><span id="excellent_test_pass" style="color: rgb(209, 209,209);font-size: 15px;">{{test_name_form.mark_five.value}}</span>
                </div>
            </div>

            <hr/>

            <div id="email_select_panel">
            <p>Кому отправлять письмо с результатами: <span class="comment">(Из группы KRS)</span></p>
            <div class="fio_row">
                {% for user_krs in krs_list%}
                {% if user_krs.email in checked_emailes %}
                <div class="fio_column_short">
                    <input type="checkbox" id="krs_email" name="krs_email" value="{{user_krs.email}}" checked>
                    <span class="mark_up">{{user_krs.last_name}} {{user_krs.first_name.0}}.{{user_krs.profile.middle_name.0}}.</span>
                </div>
                {% if forloop.counter|divisibleby:4 %}
            </div>
            <div class="fio_row">
                {% endif %}
                {% else %}
                <div class="fio_column_short">
                    <input type="checkbox" id="krs_email" name="krs_email" value="{{user_krs.email}}">
                    <span class="mark_up">{{user_krs.last_name}} {{user_krs.first_name.0}}.{{user_krs.profile.middle_name.0}}.</span>
                </div>
                {% if forloop.counter|divisibleby:4 %}
            </div>
            <div class="fio_row">
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>


            <hr/>
            </div>

            <div style="display: inline-block; margin-bottom: 10px; width: 200px; height: 30px;">
                <div style="display: inline-block; vertical-align: middle; height: 100%;">Всего вопросов: </div>
                <div class="q_num_mark" id="total_q_num">

                </div>
            </div>
            <br>
            <input type="hidden" id="test_id_num" value="{{test_id}}">
            {{ test_q_set.management_form }}
            {% for form in test_q_set %}
            <div class="q_forms">
                <div id="for_crossout_{{ forloop.counter|sub:'1' }}" style="display: inline-block;">
                    <div class="test_theme_list">Тема: {{ form.theme }} </div>
                    <div class="test_q_num">Количество вопросов: {{ form.q_num }}</div>
                    <div class="max_q_num_in_theme">
                        <span>Max. </span>
                        <span id="max_q_{{ forloop.counter|sub:'1' }}" class="mark_up"></span>
                    </div>
                </div>
                <span class="test_theme_del" style="display: inline-block;">{{ form.DELETE }} Удалить тему</span>
            </div>
            <br>
            {% endfor %}

            <input type="button" id="add-form" value="+ Добавить тему">
            <br>
            <br>
            <br>

            <hr/>
            <div>
                <span>Коментарий для КРС (необязательно)</span>
                <br>
                {{test_name_form.comment}}
            </div>
            <br>
            <div>
                <span>Коментарий для Пилота, сдающего тест (необязательно)</span>
                <br>
                {{test_name_form.for_user_comment}}
            </div>
            <br>

        </form>
        <form id="go-back" action="{% url 'quize737:go_back_button' %}">
            <input type="hidden" name="previous_url" value="{{previous_url}}">
        </form>
        <input type="submit" value="Сохранить" form="question_form">
        <span style="color: black;"> | </span>
        <input type="submit" value="Вернуться" form="go-back">
        <span style="color: black;"> | </span>
        <input type="submit" value="Удалить тест" form="del_dest"
               onclick="return confirm('Удалить Тест?') || event.preventDefault()">

        <form method="post" action="{% url 'quize737:del_test' test_id %}" id="del_dest">
            {% csrf_token %}

        </form>

        <br>


    </div>
</fieldset>

<script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>

<script>
    //Логика работы CheckBox выставление оценки
let setMarkOpt = document.getElementById("id_set_mark") //Checkbox выставления оценки
let minScoreValue = $("#id_pass_score") //Минимальный проходной процент
let minThreeMark = $("#id_test_name-min_score_three_value") //Минимальный процент для тройки
let maxThreeMark = $("#id_mark_four") //Максимальный процент для тройки
let minFourMark =  $("#id_test_name-min_score_four_value") //Минимальный процент для четвёрки
let maxFourMark = $("#id_mark_five") //Максимальный процент для четвёрки


minScoreValue.on('change', ChangeMarkValues); // Вешаем listener на изменения минимального процент правильных ответов
setMarkOpt.addEventListener('change', SetMarkFunc); // Вешаем listener на объект
maxThreeMark.on('change', SetMaxThreeMarkFunc); // Вешаем listener на объект
minFourMark.on('change', SetMinFourMarkFunc); // Вешаем listener на объект
maxFourMark.on('change', SetMaxFourMarkFunc); // Вешаем listener на объект
// maxFourMark.addEventListener('change', SetMaxFourMarkFunc); // Вешаем listener на объект

if (setMarkOpt.checked === true) {
    $("#set_mark_comment").attr("style", "color: rgba(209, 209,209); font-size: 18px;");
    maxThreeMark.attr("min", Number(minScoreValue.val()) + 1) //Выставляем ограничения по значениям в поле
    maxFourMark.attr("max", 99) //Выставляем ограничения по значениям в поле
}

//Функция меняет значения процентов для оценки при изменении минимального процента прохождения
function SetMarkFunc (event) {
    if (setMarkOpt.checked === true) {
        let new_val = minThreeMark.val()
         //console.log(new_val)
        $("#set_mark_comment").attr("style", "color: rgba(209, 209,209); font-size: 18px;");
        $("#set_mark_full_block").attr("style", "display: block")
        minScoreValue.val(new_val)
        $("#test_fail_mark").html(new_val)
    } else {
        $("#set_mark_comment").attr("style", "color: rgba(209, 209,209, 0.4); font-size: 15px;");
        $("#set_mark_full_block").attr("style", "display: none")
        }
}

function ChangeMarkValues (event) { //Меняем значения минимальных процентов для оценок
    let new_num = Number(event.target.value)
    $("#test_fail_mark").html(new_num)
    if (setMarkOpt.checked === true) {
        if (new_num < 89) {
            if (maxFourMark.val() < 99 || minThreeMark.val() > new_num) {
                minThreeMark.val(new_num)

                maxThreeMark.val(new_num + 6)
                maxThreeMark.attr("min", new_num + 1) //Выставляем ограничения по значениям в поле

                minFourMark.val(new_num + 7)
                maxFourMark.val(new_num + 11)
                $("#excellent_test_pass").html(new_num + 11)

            } else {
                event.target.value = minThreeMark.val()

            }
    } else {

            event.target.value = 88
            minThreeMark.val(88)
            maxThreeMark.val(94)
            minFourMark.val(95)
            maxFourMark.val(99)
            $("#excellent_test_pass").html(99)
            maxThreeMark.attr("min", 89) //Выставляем ограничения по значениям в поле
        }
    } else {
        if (new_num > 100) {
            event.target.value = 100

        }
    }
}

function SetMaxThreeMarkFunc (event) {  //Изменение значения максимально процента для тройки
    if (event.originalEvent) {  //Проверяем пользователь или код изменил состояние
        let new_value = Number(event.target.value)

        if (new_value > Number(minScoreValue.val()) && new_value <= 97) {
            minFourMark.val(new_value + 1)
            if (Number(minFourMark.val()) >= Number(maxFourMark.val()) - 1) {
                maxFourMark.val(new_value + 2)
                $("#excellent_test_pass").html(new_value + 2)
            }
        } else {
            if (new_value > 97) {
                event.target.value = 97
                minFourMark.val(98)
            } else {
                event.target.value = Number(minScoreValue.val()) + 1
                minFourMark.val(Number(minScoreValue.val()) + 2)
            }
        }
    }
}
function SetMinFourMarkFunc(event) { //Изменение значения минимального процента для четвёрки
    if (event.originalEvent) { //Проверяем пользователь или код изменил состояние
        let new_value = Number(event.target.value)
        if (new_value >= (Number(minScoreValue.val()) + 2) && new_value <= 98) {
            maxThreeMark.val(new_value - 1)
            if (new_value >= Number(maxFourMark.val())) {
                maxFourMark.val(new_value + 1)
                $("#excellent_test_pass").html(new_value + 1)
            }
        } else {
            if (new_value > 98) {
                event.target.value = 98
                maxFourMark.val(99)
                $("#excellent_test_pass").html(99)
                maxThreeMark.val(97)
            } else {
                event.target.value = Number(minScoreValue.val()) + 2
                maxThreeMark.val(Number(minScoreValue.val()) + 1)
            }
        }
    }
}

function SetMaxFourMarkFunc(event) {
    if (event.originalEvent) { //Проверяем пользователь или код изменил состояние
        let new_value = Number(event.target.value)
        if ( new_value > 99) {
            event.target.value = 99
            $("#excellent_test_pass").html(99)
        } else if (new_value < (Number(minScoreValue.val()) + 3)) {
            event.target.value = Number(minScoreValue.val()) + 3
            $("#excellent_test_pass").html(Number(minScoreValue.val()) + 3)
            minFourMark.val(Number(minScoreValue.val()) + 2)
            maxThreeMark.val(Number(minScoreValue.val()) + 1)
        } else if (new_value <= Number(minFourMark.val())) {
            minFourMark.val(new_value - 1)
            maxThreeMark.val(new_value -2)
        } else {
            $("#excellent_test_pass").html(new_value)
        }
    }
}

</script>


<script type="text/javascript">
//формируем массив с id тем (при добавлении проверять выбрана ли тема)
let themList = {{q_num_per_them|dict_keys}}

let numberPattern = /\d+/g;  //Регулярное выражение, что бы выбрать номер формы
let previous = {}
//Подсчитываем общее количество вопросов
//Считаем общее количество вопросов при открытии теста
let totalQNum = document.getElementById("total_q_num"); //Элемент с общим количеством вопросов
totalQNum.value = 0; //Ставим изначальное значение количества вопросов 0
//Подсчёт количества вопросов при открытии теста
//Выбираем все элементы input type=number, кроме 'pass score',
//подсчитываем количество вопросов и развешиваем listener
$(':input[type="number"]').not('#id_pass_score, #id_test_name-min_score_three_value, #id_mark_four, #id_test_name-min_score_four_value, #id_mark_five').each(function(index, element) {
  let idNum = element.id.match(numberPattern)[0] //Вынимаем номер элемента в фабрике форм
  let selectElemNum = document.getElementById("id_questions-" + idNum + "-theme").value; //Находим select с индексом idNum и берём его значение

  if (selectElemNum !== '5') {  //Если значение поля выбора темы НЕ "Все темы"
    totalQNum.value = parseInt(totalQNum.value) + parseInt(element.value); //Переводим значения в цифры и складываем
    totalQNum.innerHTML = totalQNum.value;

  } else {
    totalQNum.value = parseInt(document.getElementById("target_them_num").value)*parseInt(element.value) + parseInt(totalQNum.value); //Переводим значения в цифры и складываем
    totalQNum.innerHTML = totalQNum.value;
  }

  // Меняем цвет в зависимости от количества вопросов
  if ( totalQNum.value > 100 && totalQNum.value < 150 ) {  //Если количество вопросов больше 100 но меньше 150
    $("#total_q_num").attr("style", "color: rgb(204, 198, 22);");
  } else if ( totalQNum.value > 150 ) {
    $("#total_q_num").attr("style", "color: rgb(142, 23, 11);");
  }

  element.addEventListener('input', QNumChanged); // Вешаем listener на объект input
});


//Функция деактивации строки, если выбрать "Удалить тему"
//Выбираем все checkbox который относятся к "Удалить тему"
$(':input[type="checkbox"][name^=questions-][name$=-DELETE]').each(function(index, element) {
  element.addEventListener('input', markToDelete); // Вешаем listener на объект input
  //Если какая-то тема была отмечена к удалению при загрузке страницы (возврат из-за ошибки ввода пользователя)
  let idNum = element.id.match(numberPattern)[0] //Вынимаем номер элемента в фабрике форм

  if (element.checked === true) {

    $("#for_crossout_" + idNum).addClass("crossed_out_inactive");
  } else {
    $("#for_crossout_" + idNum).removeClass();
  }
});


//Если тест тренировочный, что скрываем возможность выбора, кому отправлять email
let trainingMark = document.getElementById("id_training")
let emailSelecetBlock = document.getElementById("email_select_panel")

if (trainingMark.checked === true) {
  emailSelecetBlock.style.display = 'none';
  $("#training_comment").attr("style", "color: rgba(209, 209,209); font-size: 18px;");
}   else {
  emailSelecetBlock.style.display = 'block';
  $("#training_comment").attr("style", "color: rgba(209, 209,209, 0.4); font-size: 15px;");
}

trainingMark.addEventListener('change', TrainingFunc); // Вешаем listener на объект

// Вычисление количества вопросов в конкретной теме и проводим остальные операции при загрузке
let Select = document.querySelectorAll("select");


for (i of Select) {  // Перебираем уже существующие поля, вешаем listener и подставляем количество вопросов из темы
  i.addEventListener('change', ThemSelection); // Вешаем listener на объект select для отлеживания выбора темы
  i.addEventListener('focus', ThemFocus) //Вешаем listener на объект select для отлеживания предыдущего значения темы
  // Вынимаем порядковый номер формы, для сихронизации с полем количества вопросов

  // ThemDict[i.value] = i.options[i.selectedIndex].text;
  //
  // console.log(ThemDict);


  let select_id = i.name.match( numberPattern ) // Номер поля

  let valueOfSelect = i.value //Вынимаем значение выбранного поля

  //console.log(console.log($('select[id="id_questions-'+ select_id +'-theme"]')));

  //Убираем выбранный элемент в select из остальных опций select, что бы он не повторялся (при первой загрузке страницы)
  ThemSelectorsDel(select_id, valueOfSelect)


  let numOfqAct = document.getElementById(valueOfSelect).value // Вынимаем количество вопросов из скрытого поля

  document.getElementById("max_q_" + select_id).innerHTML = ' ' + numOfqAct // Берём объект поля ввода и вносим значение количества вопросов
  let numField = document.getElementById("id_questions-" + select_id + "-q_num") // Ищем объект поля ввода количества вопросов
  numField.setAttribute('max', `${numOfqAct}`) // Устанавливаем максимально возможное значение
}

//Функция добавляет значение выбора в select при смене темы вопросов
function ThemSelectorsAdd(event){
  console.log(event.target.id)
  $('select').not(event.target.id).each(function(index, element) {
    $(this).append("<option value="+ previous['value'] + ">" + previous['text'] + "</option>");
  });

}
//Функция удаления тем в селекторах
function ThemSelectorsDel(select_id, valueOfSelect){
  //Убираем выбранный элемент в select из остальных опций select, что бы он не повторялся (при первой загрузке страницы)
  $('select').not('select[id="id_questions-'+ select_id +'-theme"]').each(function(index, element) {
    $(this).find('option[value="'+ valueOfSelect +'"]').remove()
  });
}
//Базовая функция подсчёта вопросов при изменении любого из полей влияющих на количество вопросов
function mainQCount() {
  totalQNum.value = 0; //Ставим изначальное значение количества вопросов 0
  totalQNum.innerHTML = totalQNum.value;
  $(':input[type="number"]').not('#id_pass_score, #id_test_name-min_score_three_value, #id_mark_four, #id_test_name-min_score_four_value, #id_mark_five').each(function(index, element) {
    let idNum = element.id.match(numberPattern)[0] //Вынимаем номер элемента в фабрике форм
    let delMarker = document.getElementById("id_questions-" + idNum + "-DELETE") // CheckBox поля "Удалить тему"

    //console.log(delMarker);

    if ( delMarker.checked !== true) {
      let selectElemNum = document.getElementById("id_questions-" + idNum + "-theme").value; //Находим select с индексом idNum и берём его значение
      if (selectElemNum !== '5') {  //Если значение поля выбора темы НЕ "Все темы"
        totalQNum.value = parseInt(totalQNum.value) + parseInt(element.value); //Переводим значения в цифры и складываем
        totalQNum.innerHTML = totalQNum.value;
      } else {
        totalQNum.value = parseInt(document.getElementById("target_them_num").value)*parseInt(element.value) + parseInt(totalQNum.value); //Переводим значения в цифры и складываем
        totalQNum.innerHTML = totalQNum.value;
      }

      if ( totalQNum.value > 100 && totalQNum.value < 150 ) {  //Если количество вопросов больше 100 но меньше 150
        $("#total_q_num").attr("style", "color: rgb(204, 198, 22);");
      } else if ( totalQNum.value > 150 ) {
        $("#total_q_num").attr("style", "color: rgb(142, 23, 11);");
      } else { $("#total_q_num").attr("style", "color:rgb(209, 209,209);");

      }
    }
  });

  //Анимация количества вопросов
  $("#total_q_num").animate( {
    fontSize: "23px",
  }, 130 );
  $("#total_q_num").animate( {
    fontSize: "19px",
  }, 130 );
}
//Функция выбора опции тренировочного теста
function TrainingFunc(event) {
  if (trainingMark.checked === true) {
    emailSelecetBlock.style.display = 'none';
    $("#training_comment").attr("style", "color: rgba(209, 209,209); font-size: 18px;");
  }   else {
    emailSelecetBlock.style.display = 'block';
    $("#training_comment").attr("style", "color: rgba(209, 209,209, 0.4); font-size: 15px;");
  }
}
//Функция вынимает значение select при выборе (НЕ при нажатии) из помещавет его в переменную previous
function ThemFocus(event) {
  event.preventDefault()
  let SelVal = event.target.value
  let SelText = event.target.options[event.target.selectedIndex].text
  previous['value'] = SelVal
  previous['text'] = SelText



}
//Функция отслеживаем выбранную тему и подставляет количество вопросов
function ThemSelection(event){
  event.preventDefault()

  let select_id = event.target.name.match( numberPattern ) // Номер поля
  let valueOfSelect = event.target.value //Вынимаем значение выбранного поля
  let numOfqAct = document.getElementById(valueOfSelect).value // Вынимаем количество вопросов из скрытого поля
  document.getElementById("max_q_" + select_id).innerHTML = ' ' + numOfqAct // Берём объект поля ввода и вносим значение количества вопросов
  let numField = document.getElementById("id_questions-" + select_id + "-q_num") // Ищем объект поля ввода количества вопросов
  numField.setAttribute('max', `${numOfqAct}`) // Устанавливаем максимально возможное значение

  //Удаляем выбраную тему из остальных селекторов
  ThemSelectorsDel(select_id, valueOfSelect)
  //Добавлем предыдущую тему во все селекторы
  ThemSelectorsAdd(event)
  //Пересчитываем количество вопросов
  mainQCount()
  event.target.blur() // Снимаем фокус с объекта, что бы обновлялась переменная previous

}
//Функция обрабатывает действие при пометке темы на удлание
function markToDelete(event) {

  let idNum = event.target.id.match(numberPattern)[0] //Вынимаем номер элемента в фабрике форм

  if (event.target.checked === true) {

    $("#for_crossout_" + idNum).addClass("crossed_out_inactive");
  } else {
    $("#for_crossout_" + idNum).removeClass();
  }
  //Пересчитываем количество вопросов
  mainQCount()
}
//Функция отслеживает изменение поля количества вопросов
function QNumChanged() {
  event.preventDefault();
  mainQCount();
}


//Добавляем кнопку "Добавить форму"
let addButton = document.querySelector("#add-form")
addButton.addEventListener('click', addForm)

function addForm(e){
  let Select = document.querySelectorAll("select");
  let allQ = true
  for (themID of themList) {
    let flag = true

    for (itemValue of Select) {
      if (themID === parseInt(itemValue.value)) {
        flag = false
      }
    }
    if (flag) {
      allQ = false
      e.preventDefault()
      //Создаём новую форму
      let qForm = document.querySelectorAll(".q_forms")
      let totalForms = document.querySelector("#id_questions-TOTAL_FORMS")
      let formNum = qForm.length-1 // Get the number of the last form on the page with zero-based indexing
      let container = document.querySelector("#question_form")

      let newForm = qForm[0].cloneNode(true)


      //Обновляем номера полей в форме
      let formRegex = RegExp(`questions-(\\d){1}-`,'g')
      let fieldRegex = RegExp(`max_q_(\\d){1}`,'g')
      let crossedOutRegex = RegExp(`for_crossout_(\\d){1}`,'g')

      formNum++
      newForm.innerHTML = newForm.innerHTML.replace(formRegex, `questions-${formNum}-`)
      newForm.innerHTML = newForm.innerHTML.replace(fieldRegex, `max_q_${formNum}`)
      newForm.innerHTML = newForm.innerHTML.replace(crossedOutRegex, `for_crossout_${formNum}`)
      container.insertBefore(newForm, addButton)
      let sp1 = document.createElement("br")
      container.insertBefore(sp1, addButton)

      totalForms.setAttribute('value', `${formNum+1}`)

      // Устанавливаем начальные значения в форме
      let q_field = document.getElementById(`id_questions-${formNum}-q_num`) // Ищем новое поле с количеством вопросов
      q_field.addEventListener('input', QNumChanged); // Вешаем listener на объект input
      q_field.setAttribute('value', '1')

      let them_field = document.getElementById(`id_questions-${formNum}-theme`) // Ищем новое поле с темой

      them_field.addEventListener('change', ThemSelection); // Вешаем listener на объект select
      let numOfqAct = document.getElementById(themID).value

      q_field.setAttribute('max', `${numOfqAct}`) // Устанавливаем максимально возможное значение поля ввода количества вопросов

      document.getElementById("max_q_" + formNum).innerHTML = ' ' + numOfqAct // Берём объект поля ввода и вносим значение количества вопросов

      let delete_field = document.getElementById(`id_questions-${formNum}-DELETE`) // Ищем новое поле с 'Удалить тему'
      delete_field.addEventListener('input', markToDelete); // Вешаем listener на объект checkbox 'Удалить тему'

      $("#for_crossout_" + formNum).removeClass();  // Если изначальной форме присвоен класс css, то убираем его


      //Удаляем выбранную тему в остальных селекторах
      ThemSelectorsDel(formNum, themID)
      //Удаляем тему из оригинала клона темы
      $(newForm).find('option[value="'+ them_field.value +'"]').remove(); //Удаляем текущее значание копируемой формы
      them_field.value = themID
      //Пересчитываем количество вопросов
      mainQCount()
      break; // Если нашлась тема, которая не встречается в остальных селекторах, выходим из цикла
    }
  }
  if (allQ) {
    alert('Все темы выбраны')
  }
}

</script>

{% endblock %}
