{% extends "main_base.html" %}
{% load tags %}
{% block content %}

<fieldset>
    <legend>
            <a href="{% url 'quize737:question_list' %}">Список вопросов</a>
            <span style="color: black;"> | </span>
            <a href="{% url 'quize737:new_question' %}">Добавить вопрос</a>
            <span style="color: black;"> | </span>
            <a href="{% url 'quize737:theme_editor' %}">СПИСОК ТЕМ</a>
            <span style="color: black;"> | </span>
            <a href="{% url 'quize737:new_theme' %}">Добавить Тему</a>
            <span style="color: black;"> | </span>
            <a href="{% url 'quize737:file_upload' %}">Загрузить файл</a>
            {% if request.user|has_group:'krs' or user.is_superuser %}
                <span style="color: black;"> | </span>
                <a href="{% url 'quize737:download_questions_bay' %}">Скачать базу</a>
            {% endif %}
            <span style="color: black;"> | </span>
            <a href="{% url 'quize737:question_form_file_download' %}">Скачать Форму Вопросов</a>
    </legend>

    <div class="block-list">
        <div class="block_none_light_up">
            <div class="search-form">
                <form id="them_search" action="{% url 'quize737:theme_editor' %}" method="get">
                    <input type="text" name="them_search" placeholder="Поиск темы...">
                    <input type="submit" value="Искать">
                </form>
            </div>
            <div class="filter-form">
<!--                <div class="filter_related_them">-->
<!--                    <form id="them_filter" name="them_filter" action="{% url 'quize737:theme_editor' %}" method="get">-->
<!--                        <div class="filter_sign_position"></div>-->
<!--                        <select class="them_filter" name="them_filter">-->
<!--                            {% for option in ac_types %}-->
<!--                                {% if filter_input %}-->
<!--                                    {% if option == filter_input.0 %}-->
<!--                                        <option value="{{option}}" selected>{{option}}</option>-->
<!--                                    {% else %}-->
<!--                                        <option value="{{option}}">{{option}}</option>-->
<!--                                    {% endif %}-->
<!--                                {% else %}-->
<!--                                    {% if option == "Все" %}-->
<!--                                        <option value="{{option}}" selected>{{option}}</option>-->
<!--                                    {% else %}-->
<!--                                        <option value="{{option}}">{{option}}</option>-->
<!--                                    {% endif %}-->
<!--                                {% endif %}-->
<!--                            {% endfor %}-->
<!--                        </select>-->
<!--                    </form>-->

<!--                </div>-->
<!--                <div style="display: inline-block;">-->
<!--                        <form id="reset_filter" action="{% url 'quize737:theme_editor' %}" method="get">-->
<!--                    </form>-->
<!--                </div>-->
<!--                <div class="button_block">-->
<!--                        <input class="submit_filter" type="submit" value="Фильтр" form="them_filter">-->
<!--                        <span style="color: black">|</span>-->
<!--                        <input class="submit_filter" type="submit" value="Сбросить Фильтр" form="reset_filter">-->
<!--                </div>-->
                <div class="total_user_num">Всего: {{them_num}}</div>
            </div>
        </div>
            {% if no_search_results %}
        <div>
            <span style="color: rgb(209, 209,209);">{{results}}</span>
        </div>
        {% else %}
            {% for theme in themes %}
                {% if theme.name != 'Все темы'%}
            <div class="block_light_up">
                <div class="list-them">
                    <a href="{{theme.id}}">
                        <span class="theme_color">
                            {{theme.name}}
                        </span>
                    </a>
                </div>
                <span style="color: black;">|</span>
                <div class="list-them_questions_num">
                    <a href="/question_list/?filter={{theme.name}}&filter=Все">Вопросов:  {{num_dict|get_item:theme.name}}</a>
                </div>
                <span style="color: black;">|</span>

                <div class="list-delete">
                    <a href="{% url 'quize737:theme_del' theme.id %}" onclick="return confirm('Внимание! При удалении темы будут удалены все связанные с ней вопросы. Продолжить?') || event.preventDefault()" name="theme_del">Удалить</a>
                </div>

            </div>
                {% endif %}
            {% endfor %}
        <br>
            {% include "paginator.html" with page=themes %}
        {% endif %}
    </div>
</fieldset>



<script type="text/javascript">
    var DelTheme = document.getElementsByName('theme_del');

</script>

{% endblock %}