/* rgb(128,128,128);  Цвет NWS Light Gray */
/* rgb(62, 62, 62);   Цвет NWS Dark Gray */

#wrapper {
    max-width: 99%;
    margin: auto;
}

body {
  background-color: rgb(128,128,128);  /* Цвет NWS Light Gray */
}

header {
    margin-bottom: 15px;
    /*position: relative;
    height: 25%;
    */
}

.user_name {
    display: inline-block;
    position: absolute;
    top: 10%;
    right: 2%;

}

nav{
    margin-top: 5px;
    text-align: right;
    /*
    position: absolute;
    right: 2%;
    top: 50%;
    font-size: 17px;
    */

}

main {
    /*
  position: relative;
  height: 10%;
  font-size: 18px;
  */
}

aside {
    float: left;
    width: 170px;
    /*
    position: absolute;
    left: 1%;
    top: 5%;
    font-size: 17px;
    */
}

section {
    margin-left: 185px;
    margin-top: 10px;
    /*
    position: absolute;
    left: 20%;
    top: 5%;
    width: 78%;
    */

}

footer {
    text-align: right;
    margin-top: 10px;
    /*
    position: absolute;
    right: 2%;
    bottom: -30%;
    font-size: 17px;
        */
}

#footer {
    max-width: 99%;
    margin: auto;

}

button {
    background-color: rgb(209, 209,209); /* Цвет NWS Dark Gray */
    text-align: center;
    display: inline-block;
    font-size: 13px;
    color: black;
}

legend {               /* Оформление заголовка рамки */
    color: rgb(209, 209,209);
    font-size: 15px;
}

a {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
    color: rgb(209, 209,209);
}

a:hover {
    text-shadow: 1px 1px 1px #997676, 0 0 1em #23506b, 0 0 0.1em #9e9292; /* Добавляет тень к тексту при наведении */
}

span.theme_color {
    color: rgb(170, 39, 47);
    font-size: 18px;
}

span.a_list {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
    color: rgb(209, 209,209);
    font-size: 19px;
}

div.left_side {
    position: absolute;
    display: inline-block;
    width: 90%;

}

div.right_side {
    position: absolute;
    display: inline-block;
    right: 2%;
    width: 20%;
    font-size: 17px;
}

div.result_list {
    position: absolute;
    right: 38%;
}


.result_confirm {
    color: rgb(170, 39, 47);
    font-size: 18px;
    animation: disappear 2s linear 3s 1 forwards;

}

@keyframes shadow {
    from {text-shadow: 0 0 3px black;}
    50% {text-shadow: 0 0 30px black;}
    to {text-shadow: 0 0 3px black;}
    }

@keyframes disappear {
    0%{
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

h4 {
    color: rgb(209, 209,209);
}

span.mark_up {
    color: rgb(209, 209,209);
    font-size: 19px;
}

span.main_sign {
    font-size: 21px;
    color: rgb(209, 209,209);
}

span.positive {
    color: rgb(148, 192, 74);
    font-size: 20px;
    font-weight: bold;
}

span.negative{
    color: rgb(142, 23, 11);
    font-size: 20px;
    font-weight: bold;
}

div.list-test_name {    /* блок названия теста в таблице */
    position: relative;
    display: inline-block;
    left: 5%;
    word-wrap: break-word;
    text-align: left;
    width: 30%;
    /* vertical-align: middle;
    padding-bottom: 18px; */
}

div.list-text_numtry {    /* блок для остальных типов данным в списке */
    position: relative;
    display: inline-block;
    text-align: right;
    width: 23%;
    color: black;
}

div.list-number_num_try {    /* блок для остальных типов данным в списке */
    position: relative;
    display: inline-block;
    text-align: center;
    width: 4%;
    font-weight: bold;
}

div.list-do_before_text {    /* блок для остальных типов данным в списке */
    position: relative;
    display: inline-block;
    text-align: right;
    width: 19%;
    color: black;
}


div.list-date {     /* блок Дата в таблице */
    position: relative;
    display: inline-block;
    width: 11%;
    text-align: right;
}

div.block_light_up:hover {  /* блок всей строки данных в таблице ПРИ НАВЕДЕНИИ КУРСОРА*/
    background-color: #4f93ce;
}

div.block_light_up {  /* блок всей строки данных в таблице */
    margin-bottom: 5px;
}

div.block_light_up a {  /* блок всей строки данных в таблице */
    text-decoration: none; /* Убирает подчеркивание для ссылок */
    margin-bottom: -1px;
}

div.block_none_light_up {  /* блок всей строки данных в таблице, без подствеки */
    position: relative;
    left: 3%;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.list-pass_score_text {    /* блок для остальных типов данным в списке */
    position: relative;
    display: inline-block;
    text-align: right;
    width: 22%;
}


div.list-pass_score_num {    /* блок для остальных типов данным в списке */
    position: relative;
    display: inline-block;
    text-align: center;
    width: 6%;

}

div.list-them {  /* блок Тема вопроса в таблице */
    position: relative;
    display: inline-block;
    width: 153px;
    text-align: left;
    color: rgb(170, 39, 47);
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
    border-left: 1px solid black;
}

div.list-q_number {
    position: relative;
    display: inline-block;
    width: 75px;
    text-align: left;
    font-size: 18px;
}

div.note_in_list {
    position: relative;
    color: rgba(209, 209,209, 0.4);
    font-size: 19px;
}

div.profile_statick_fio {
    position: relative;
    display: inline-block;
    width: 80px;
}

div.profile_dynamic_fio {
    position: relative;
    display: inline-block;
    width: 300px;
    overflow-wrap: break-word;
    color: rgb(209, 209,209);
}

div.profile_statick_position {
    position: relative;
    display: inline-block;
    width: 145px;
}

div.profile_dynamic_position {
    position: relative;
    display: inline-block;
    width: 145px;
    color: rgb(209, 209,209);
}

div.profile_statick_email  {
    position: relative;
    display: inline-block;
    width: 80px;
}

div.profile_dynamic_email  {
    position: relative;
    display: inline-block;
    width: 300px;
    color: rgb(209, 209,209);
}

div.profile_statick_login  {
    position: relative;
    display: inline-block;
    width: 145px;
}

div.profile_dynamic_login {
    position: relative;
    display: inline-block;
    width: 125px;
    color: rgb(209, 209,209);
}


div.profile_statick_ac_type  {
    position: relative;
    display: inline-block;
    width: 80px;
}

div.profile_dynamic_ac_type {
    position: relative;
    display: inline-block;
    width: 300px;
    color: rgb(209, 209,209);
}


div.profile_input_field {
    position: relative;
    display: inline-block;
    width: 25%;
}

div.modal-dialog {
    position: absolute;
    display: block;
    left: 33%;
    width: 520px;
    top: 22%;
    }


#admin_mess_form {
    background-color: rgb(62, 62, 62);
}


div.modal_form-static_sign {
    position:relative;
    display: block;
    margin-top: 30px;
}

div.modal_form-dynamic_sign {
    position:relative;
    display: block;
}

div.modal_form_button_block {
    position:relative;
    display: block;
    /* right: 10% */
    margin-top: 30px;
}

div.them_q_num_line {
    display: inline-block;

}

div.them_q_num_line:hover {
    background-color: #4f93ce;
}

hr {
    display: block;
    color: rgb(209, 209,209);
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0;
}

div.list-fio {  /* блок ФИО в таблице */
    position: relative;
    display: inline-block;
    /* left: 15px; */
    width: 190px;
    word-wrap: break-word;
    text-align: left;
    vertical-align: middle;


}

div.list-position {  /* блок Должность в таблице */
    position: relative;
    display: inline-block;
    width: 36px;
    text-align: left;
    color: rgb(170, 39, 47);
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
    /* margin: 3px; */
    border-left: 1px solid black;
    /*border-right: 1px solid black; */
}

div.list-user_test_list {
    position: relative;
    display: inline-block;
    width: 185px;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
    /* margin: 4px; */
    border-left: 1px solid black;

}

div.list-ac_type {  /* блок Типа ВС в таблице */
    position: relative;
    display: inline-block;
    width: 50px;
    word-wrap: break-word;
    text-align: left;
    vertical-align: middle;
    border-left: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    margin: 1px;
}

div.test_num_try {
    width: 95px;
    display: inline-block;
    border-left: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    margin: 1px;
    }
div.test_date {
    width: 95px;
    display: inline-block;
    border-left: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    margin: 1px;
}