body {
  background-color: rgb(62, 62, 62);  /* Цвет NWS Dark Gray */
}

h1 {

    font-color: rgb(0, 255, 255);
}

nav{
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;
}

aside {
    display: inline-block;
    background-color: rgb(128,128,128); /* Цвет NWS Light Gray */
    position: relative;
    top: 10%;
    left: 10%;

}


main {
    display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: lightblue;

}


a {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
    color: rgb(209, 209,209);
}