body {
    background-color: rgb(128,128,128); /* Цвет NWS Light Gray */
}

header {
    position: relative;
    height: 14%;
}

nav{
    position: absolute;
    right: 2%;
    top: 15%;
    font-size: 17px;
}

main {
  position: relative;
  height: 14%;
}

/* Форма и ёё положение */

section {
    position: absolute;
    top: 5%;
    left: 4%;
    right: 4%;
}

/* Цвет и размер текста в форме */
legend {               /* Оформление заголовка рамки */
    color: rgb(209, 209,209);
    font-size: 15px;
}

form {
    color: rgb(209, 209,209);
    font-size: 20px;
}

/* Текст вопроса */
label.question {
    position: relative;
    left: 4%;
    display: block;
    margin-top: 5px;
    margin-bottom: 20px;
    color: black;
    font-size: 26px;
    width: 95%;
    text-align: justify;
    text-justify: inter-word;
}

label.option {
    color: rgb(209, 209,209);
    font-size: 25px;

}

div.radiobuttons {
  position: relative;
  display: block;
  left: 7%;
  margin-bottom: 5px;
  word-wrap: break-word;
  width: 90%;
}


div.option-value {
    display: inline-block;
    position: relative;
    width: 88%;
    vertical-align: middle;
    text-align: justify;
    text-justify: inter-word;
    padding: 5px;
    color: rgb(209, 209,209);
    font-size: 25px;
}

div.q_comment {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: middle;
    text-align: justify;
    text-justify: inter-word;
    padding: 5px;
    color: rgb(209, 209,209);
    font-size: 15px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}


div.button_answer {
    position: relative;
    left: 4%;
    display: block;
    margin-top: 40px;
    margin-bottom: 5px;
    width: 450px;

}

.radiobuttons input[type='radio'] + label:not(:last-child){
  margin-right: 200px;
}

.radiobuttons label:hover {text-shadow: 1px 1px 1px #997676, 0 0 1em #23506b, 0 0 0.1em #9e9292; /* Добавляет тень к тексту при наведении */

}

/*.radiobuttons {position:absolute;}

.radiobuttons input {visibility:hidden; width:0;}

.radiobuttons label:hover {font-weight:bold}

.radiobuttons input:checked + label {font-weight:bold; text-transform:uppercase}
*/



input[type='radio']{
    width: 20px;
    height: 20px;
}

input[type='checkbox']{
    width: 20px;
    height: 20px;
}


a {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
    color: rgb(209, 209,209);
}

a:hover {
    text-shadow: 1px 1px 1px #997676, 0 0 1em #23506b, 0 0 0.1em #9e9292; /* Добавляет тень к тексту при наведении */
}

.user_name {
    position: absolute;
    display: inline;
    top: 10%;
    right: 2%;
    }

.q_num_count {
    color: rgb(209, 209,209);
}

span.mark_up {
    color: rgb(209, 209,209);
    font-size: 19px;
}

span.main_sign {
    font-size: 19px;
}

span.positive {
    color: rgb(148, 192, 74);
    font-size: 20px;
    font-weight: bold;
}

span.negative{
    color: rgb(142, 23, 11);
    font-size: 20px;
    font-weight: bold;
}

div.block_none_light_up {  /* блок всей строки данных в таблице, без подствеки */
    position: relative;
    left: 3%;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.options_block {
    position: relative;
    left: 3%;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.list-other_field {    /* блок для остальных типов данным в списке */
    position: relative;
    display: inline-block;
    left: 5%;
    word-wrap: break-word;
    text-align: left;
    width: 410px;
    vertical-align: middle;
    margin-bottom: 5px;
    margin-top: 5px;
}

div.results_static_sign {
    font-size: 22px;
    position: relative;
    display: inline-block;
    left: 5%;
    word-wrap: break-word;
    text-align: left;
    width: 495px;
    vertical-align: middle;
    margin-bottom: 5px;
    margin-top: 5px;
}

div.results_dynamic_sign{
    font-size: 22px;
    /*position: relative; */
    display: inline-block;
    /*left: 5%;
    word-wrap: break-word;
    text-align: left;
    vertical-align: middle;
    margin-bottom: 5px;
    margin-top: 5px; */
    color: rgb(209, 209,209);
}

div.result_answers_question {
    position: relative;
    display: block;
    width: 95%;
    left: 3%;
    font-size: 22px;
    text-align: justify;
    text-justify: inter-word;

}

div.question_answer_conclusion_correct {
    position: relative;
    display: block;
    color: rgb(148, 192, 74);
    left: 3%;
}

div.question_answer_conclusion_wrong {
    position: relative;
    display: block;
    left: 3%;
    color: rgb(142, 23, 11);

}

div.result_answers_correct {
    position: relative;
    display: list-item;
    width: 85%;
    left: 5%;
    background-color: rgba(29, 158, 36, 0.4);
    color: rgb(209, 209,209);
    text-align: justify;
    text-justify: inter-word;
}

div.result_answers_wrong {
    position: relative;
    display: list-item;
    width: 85%;
    left: 5%;
    /*background-color: rgba(0, 209,209, 0.4); */
    color: rgb(209, 209,209);
    text-align: justify;
    text-justify: inter-word;
}

div.result_answers_user_answer {
    position: relative;
    display: list-item;
    left: 5%;
    text-align: justify;
    text-justify: inter-word;
    font-size: 22px;
    width: 85%;
}

div.report_issue {
    position: absolute;
    display: block;
    right: 2%;
    margin: 10px;
}

div.report_issue_results {

    margin: 10px;
    float: right;
}

div.show_comment {
    margin: 10px;
    float: left;
}

div.block_light_up {  /* блок всей строки данных в таблице */
    padding: 0px;
    margin-bottom: 2px;
    width: fit-content;
}

div.block_light_up:hover {  /* блок всей строки данных в таблице */
    background-color: #4f93ce;
}


.modal-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0; top: 0; right: 0; bottom: 0;
}

div.modal-form {
    position: absolute;
    display: block;
    left: 50%;
    width: 520px;
    top: 50%;
    transform: translate(-50%, -50%);
    }


#admin_mess_form {
    background-color: rgb(62, 62, 62);
}


div.modal_form-static_sign {
    position:relative;
    display: block;
    margin-top: 30px;
}

div.modal_form-dynamic_sign {
    position:relative;
    display: block;
}

div.modal_form_button_block {
    position:relative;
    display: block;
    /* right: 10% */
    margin-top: 30px;
    text-align: center;
}



