/* rgb(128,128,128);  Цвет NWS Light Gray */
/* rgb(62, 62, 62);   Цвет NWS Dark Gray */


body {
  background-color: rgb(128,128,128);  /* Цвет NWS Light Gray */
}

header {
    position: relative;
    height: 15%;
}

nav{
    position: absolute;
    right: 2%;
    top: 50%;
    font-size: 17px;
}

main {
  position: relative;
  height: 90%;
  font-size: 20px;
}

aside {
    position: absolute;
    left: 1%;
    top: 5%;
    font-size: 17px;

}

section {
    position: absolute;
    left: 17%;
    top: 5%;
    width: 80%;

}

button {
    background-color: rgb(209, 209,209); /* Цвет NWS Dark Gray */
    text-align: center;
    display: inline-block;
    font-size: 13px;
    color: black;
}

legend {
    color: rgb(209, 209,209);
}

a {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
    color: rgb(209, 209,209);
}

span.theme_color {
    color: rgb(170, 39, 47);
    font-size: 18px;
}

span.a_list {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
    color: rgb(209, 209,209);
    font-size: 19px;
}

div.left_side {
    display: inline-block;
    width: 69%;

}

div.right_side {
    position: absolute;
    display: inline-block;
    right: 1%;
    width: 28%;
    font-size: 17px;
}

div.result_list {
    position: absolute;
    right: 38%;
}


.result_confirm {
    color: rgb(170, 39, 47);
    font-size: 18px;
    animation: disappear 2s linear 3s 1 forwards;

}

@keyframes shadow {
    from {text-shadow: 0 0 3px black;}
    50% {text-shadow: 0 0 30px black;}
    to {text-shadow: 0 0 3px black;}
    }

@keyframes disappear {
    0%{
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}