body {
    background-color: rgb(128,128,128); /* Цвет NWS Light Gray */
}

header {
    position: relative;
    height: 10%;
}

nav{
    position: absolute;
    right: 2%;
    top: 15%;
    font-size: 17px;
}

main {
  position: relative;
  height: 10%;
}

/* Форма и ёё положение */

section {
    position: absolute;
    top: 180%;
    left: 4%;
    right: 4%;
}

/* Цвет и размер текста в форме */
legend {               /* Оформление заголовка рамки */
    color: rgb(209, 209,209);
    font-size: 17px;
}

form {
    color: rgb(209, 209,209);
    font-size: 20px;
}

/* Текст вопроса */
label.question {
    color: black;
    font-size: 30px;
}

label.option {
    color: rgb(209, 209,209);
    font-size: 25px;
}

button {
    background-color: rgb(209, 209,209); /* Цвет NWS Dark Gray */
    text-align: center;
    display: inline-block;
    font-size: 15px;
    color: black;

}

.radiobuttons input[type='radio'] + label:not(:last-child){
  margin-right: 200px;
}

input[type='radio']{
    width: 20px;
    height: 20px;
}

a {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
    color: rgb(209, 209,209);
}

.user_name {
    position: absolute;
    display: inline;
    top: 10%;
    right: 2%;
    }

.q_num_count {
    color: rgb(209, 209,209);
}

span.mark_up {
    color: rgb(209, 209,209);
    font-size: 19px;
}

span.main_sign {
    font-size: 19px;
}

span.positive {
    color: rgb(148, 192, 74);
    font-size: 20px;
    font-weight: bold;
}

span.negative{
    color: rgb(142, 23, 11);
    font-size: 20px;
    font-weight: bold;
}