/* rgb(128,128,128);  Цвет NWS Light Gray */
/* rgb(62, 62, 62);   Цвет NWS Dark Gray */


body {
  background-color: rgb(128,128,128);  /* Цвет NWS Light Gray */
}

header {
    position: relative;
    height: 25%;
}

.user_name {
    position: absolute;
    display: inline;
    top: 10%;
    right: 2%;

}

nav{
    position: absolute;
    right: 2%;
    top: 50%;
    font-size: 17px;
}

main {
  position: relative;
  height: 10%;
  font-size: 20px;
}

aside {
    position: absolute;
    left: 1%;
    top: 5%;
    font-size: 17px;

}

section {
    position: absolute;
    left: 1%;
    top: -30%;
    width: 98%;

}

button {
    background-color: rgb(209, 209,209); /* Цвет NWS Dark Gray */
    text-align: center;
    display: inline-block;
    font-size: 13px;
    color: black;
}

legend {
    color: rgb(209, 209,209);
    font-size: 17px;
}

a {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
    color: rgb(209, 209,209);
}

a:hover {
    text-shadow: 1px 1px 1px #997676, 0 0 1em #23506b, 0 0 0.1em #9e9292; /* Добавляет тень к тексту при наведении */
}

span.theme_color {
    color: rgb(170, 39, 47);
    font-size: 18px;
}


div.right_side {
    position: absolute;
    display: inline-block;
    right: 2%;
    width: 20%;
}


.result_confirm {  /* Анимация подтверждения действия */
    color: rgb(170, 39, 47);
    font-size: 18px;
    animation: disappear 2s linear 3s 1 forwards;

}

@keyframes shadow {
    from {text-shadow: 0 0 3px black;}
    50% {text-shadow: 0 0 30px black;}
    to {text-shadow: 0 0 3px black;}
    }

@keyframes disappear {
    0%{
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

h4 {
    color: rgb(209, 209,209);
}

span.mark_up {
    color: rgb(209, 209,209);
    font-size: 19px;
}


span.mark_up_transparent {
    color: rgba(209, 209,209, 0.4);
    font-size: 19px;
}


span.main_sign {
    font-size: 19px;
}

span.positive {
    color: rgb(148, 192, 74);
    font-size: 20px;
    font-weight: bold;
}

span.negative{
    color: rgb(142, 23, 11);
    font-size: 20px;
    font-weight: bold;
}

span.list-title {
    color: rgb(170, 39, 47);
    font-weight: bold;
}

div.block-list {  /* Основной блок таблицы со списком данных */
    position: relative;
    padding: 1%;
}

#head_1 {  /* Шапка таблицы данных, пока не используется */
   position: relative;
    display: inline-block;
    left: 0%;
    width: 50%;

    text-align: center;
}

div.list-fio {  /* блок ФИО в таблице */
    position: relative;
    display: inline-block;
    left: 5%;
    width: 40%;
    word-wrap: break-word;
    text-align: left;


}

div.list-date {     /* блок Дата в таблице */
    position: relative;
    display: inline-block;
    width: 8%;
    margin: 2px;
    text-align: center;
}

div.list-position {  /* блок Должность в таблице */
    position: relative;
    display: inline-block;
    width: 14%;
    margin: 0px;
    text-align: left;
    color: rgb(170, 39, 47);
    font-size: 18px;


}

div.list-test_result {  /* блок Результат сдачи теста в таблице */
    position: relative;
    display: inline-block;
    width: 13%;
    margin: 2px;
    text-align: center;


}

div.list-them {  /* блок Тема вопроса в таблице */
    position: relative;
    display: inline-block;
    width: 13%;
    text-align: left;
    color: rgb(170, 39, 47);
    font-size: 18px;
    word-wrap: break-word;
}

div.list-question {  /* блок Текст вопроса в таблице */
    position: relative;
    display: inline-block;
    width: 75%;
    vertical-align: middle;
    text-align: justify;
    text-justify: inter-word;
    padding-left: 5px;
    padding-right: 6px;
}

div.list-delete {  /* блок Удалить каки-либо запись в таблице */
    position: relative;
    display: inline-block;
    text-align: left;
}

div.hr {  /* блок горизонтальная линия, пока не используется */
    /* border: 1px dotted; */
    position: absolute;
    width: 80%;
    left: 10%;

}

div.paginator {  /* блок списка страниц */
    text-align: center;
    margin: 5px;
}

div.block_light_up:hover {  /* блок всей строки данных в таблице ПРИ НАВЕДЕНИИ КУРСОРА*/
    background-color: #4f93ce;
}

div.block_light_up {  /* блок всей строки данных в таблице */
    padding: 0px;
    margin-bottom: -1px;
}

spot.block_light_up:hover {  /* блок всей строки данных в таблице */
    background-color: #4f93ce;
}

div.block_none_light_up {  /* блок всей строки данных в таблице, без подствеки */
    position: relative;
    left: 3%;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.search-form {  /* блок формы поиска */
    display: inline-block;
    position: relative;
    width: 20%;
}

div.filter-form {   /* блок формы фильтра */
    position: relative;
    display: inline-block;
    width: 75%;
}

div.list-test_name {    /* блок названия теста в таблице */
    position: relative;
    display: inline-block;
    left: 5%;
    word-wrap: break-word;
    text-align: left;
    width: 40%;
    vertical-align: middle;

}

div.list-other_field {    /* блок для остальных типов данным в списке */
    position: relative;
    display: inline-block;
    left: 5%;
    word-wrap: break-word;
    text-align: left;
    width: 40%;
    vertical-align: middle;
    margin-bottom: 5px;
    margin-top: 5px;
}

div.list-group {  /* блок группа в таблице */
    position: relative;
    display: inline-block;
    width: 23%;
    text-align: left;
    color: rgb(170, 39, 47);
    font-size: 18px;
    word-wrap: break-word;
}

div.list-group_description { /* блок описание группы в таблице */
    position: relative;
    display: inline-block;
    width: 38%;
    text-align: left;
    font-size: 18px;
}

div.list-group_users {
    position: relative;
    display: inline-block;
    width: 14%;
    text-align: left;
    font-size: 18px;
    word-wrap: break-word;
}

div.list-edit {
    position: relative;
    display: inline-block;
    width: 13%;
    text-align: left;
    font-size: 18px;
    word-wrap: break-word;
}

div.new_user-field {
    position: relative;
    display: inline-block;
    width: 13%;
    text-align: left;
    font-size: 20px;
    margin: 7px;
}

div.note_in_list {
    position: relative;
    left: 19%;
    color: rgba(209, 209,209, 0.4);
    font-size: 19px;
}

div.statick_field_sign {
    position: relative;
    display: inline-block;
    width: 24%;
    font-size: 22px;
}

div.dynamic_field_sign {
    position: relative;
    display: inline-block;
    width: 50%;
    font-size: 22px;
    color: rgb(209, 209,209);
}

input.block_none_light_up {  /* блок всей строки данных в таблице, без подствеки */
    position: relative;
    left: 3%;
    margin-top: 10px;
    margin-bottom: 10px;
}

span.block_none_light_up {  /* блок всей строки данных в таблице, без подствеки */
    position: relative;
    left: 3%;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.filter_sign_position {
    position: relative;
    display: inline-block;
    width: 16%;
    padding-left: 20px;
}

div.filter_sign_group {
    position: relative;
    display: inline-block;
    width: 10%;
    padding-left: 20px;
}

select.position_filter {
    position: relative;
    display: inline-block;
}

input.submit_filter {
    position: relative;
    display: inline-block;
    width: 130px;
}

div.filter_sign_result {
    position: relative;
    display: inline-block;
    width: 15%;
    padding-left: 20px;
}

select.theme_filter {
    position: relative;
    display: inline-block;
    margin-left: 10%;
}

div.filter_related {
    position: relative;
    display: inline-block;
}

div.button_block {
    position: relative;
    display: inline-block;
    margin-left: 30px;
}