{% load static %}
<html>
<link href="https://fonts.cdnfonts.com/css/helveticaneuecyr-2" rel="stylesheet">
<link rel="stylesheet" href="{% static 'base_login.css' %}" type="text/css">
    <head>
        <title>NWS Pilot Test</title>
        <link rel = "icon" href="{% static 'nws_icon.png' %}"
    </head>
    <body>
        <header>
			<p><img src="{% static 'nws_logo.png' %}" alt="NWS Logo" style="vertical-align:center" width="25%" height="auto"></p>
		</header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>