{% load static %}
{% load tags %}
<html>
<link href="https://fonts.cdnfonts.com/css/helveticaneuecyr-2" rel="stylesheet">
<link rel="stylesheet" href="{% static 'base_start.css' %}" type="text/css">
    <head>
        <title>NWS Pilot Test</title>
        <link rel = "icon" href="{% static 'nws_icon.png' %}">
    </head>

    <body>

        <header>
			<p><img src="{% static 'nws_logo.png' %}" alt="NWS Logo" style="vertical-align:center" width="25%" height="auto"></p>
            <nav>

                {% if user.is_authenticated %}
                    <span>|</span>
                    <a href="{% url 'quize737:start' %}">Главная</a>
                    <span>|</span>
                    <a href="{% url 'profile' %}">Профиль</a>
                            {% if request.user|has_group:'krs' or user.is_superuser %}
                                <span>|</span>
                                <a href="{% url 'quize737:tests_results_list' %}">Отчёты</a>
                                <span>|</span>
                                <a href="{% url 'quize737:question_list' %}">База вопросов</a>
                                <span>|</span>
                                <a href="{% url 'quize737:test_editor' %}">Тесты</a>
                                <span>|</span>
                                <a href="{% url 'quize737:user_list' %}">Пилоты</a>
                            {% endif %}
                <span>|</span>
            	<a href="{% url 'logout' %}?next=/login">Выход</a>
                <span>|</span>
                {% endif %}
            </nav>
        </header>
        <main>
            <aside>
                <p><a href="{% url 'quize737:start' %}">По всем темам</a></p>
                <p><a href="{% url 'quize737:one_them_q' %}">По отдельной теме</a></p>
                <p><a href="{% url 'quize737:start' %}">После события</a></p>
                <p><a href="{% url 'quize737:start' %}">Входное тестирование</a></p>

            </aside>
            <section>
                {% block content %}
                {% endblock %}
            </section>
        </main>
    </body>
</html>