{% load static %}
{% load tags %}
<html>
<link href="https://fonts.cdnfonts.com/css/helveticaneuecyr-2" rel="stylesheet">
<link rel="stylesheet" href="{% static 'base_start.css' %}" type="text/css">
    <head>
        <title>NWS Pilot Test</title>
        <link rel="icon" href="{% static 'nws_icon.png' %}">
    </head>

    <body>

        <header>

            <span><img src="{% static 'nws_logo.png' %}" alt="NWS Logo" style="vertical-align:center" width="25%" height="auto"></span>
            <span class="user_name"> {{user.profile.family_name}} {{user.profile.first_name}} {{user.profile.middle_name}}</span>
            <nav>

                {% if user.is_authenticated %}
                    <span>|</span>
                    <a href="{% url 'quize737:start' %}">Главная</a>
                    <span>|</span>
                    <a href="{% url 'password_change' %}">Профиль</a>
                    <span>|</span>
                        {% if request.user|has_group:'krs' or user.is_superuser %}
                            <a href="{% url 'quize737:tests_results_list' %}">Отчёты</a>
                            <span>|</span>
                        {% endif %}
                        {% if request.user|has_group:'krs,Редактор Вопросов' or user.is_superuser %}
                            <a href="{% url 'quize737:question_list' %}">База вопросов</a>
                            <span>|</span>
                        {% endif %}
                        {% if request.user|has_group:'krs' or user.is_superuser %}

                            <a href="{% url 'quize737:test_editor' %}">Тесты</a>
                            <span>|</span>
                            <a href="{% url 'quize737:user_list' %}">Пилоты</a>
                            <span>|</span>
                        {% endif %}

            	    <a href="{% url 'logout' %}?next=/login">Выход</a>
                    <span>|</span>
                {% endif %}
            </nav>
        </header>
        <main>
            <aside>
                {% if user_tests|length > 0 %}
                    {% for test in user_tests %}
                    <p><a href="{% url 'quize737:start' test.test_name.id %}">{{test.test_name}}</a></p>
                    {% endfor %}
                {% else %}
                <p>Тесты отсутствуют</p>
                {% endif %}
            </aside>
            <section>
                {% block content %}
                {% endblock %}
            </section>
        </main>

    </body>
    <footer>
        <form method="post" id="task-form">
            {% csrf_token %}
            <input type="text" placeholder="Enter Task" name="task" id="task" required>
<!--            <input type="submit" value="Save">-->
            <a href='#' id="issue_send">Сообщить об ошибке</a>
        </form>
            {% if user.is_authenticated %}
                {% if user.is_superuser %}
                    <span>|</span>
                    <a href="{% url 'quize737:pilotload' %}">Load Pilots</a>
                {% endif %}
                    <span>|</span>
                    <a href="#">Написать Администратору</a>
                    <span>|</span>
            {% endif %}
        </footer>

<script src="https://code.jquery.com/jquery-3.5.1.js"
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>



<script>
            $('#task-form').on('click','#issue_send',function(e){

           let issue_form = document.getElementById("task-form");
            issue_form.style.display = 'none';

        e.preventDefault();
        $.ajax({
            type:'POST',
            url:'{% url "quize737:issue_mess" %}',
            data:
            {
                task:$("#task").val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
            },
            success:function(){
                  alert('Saved');
                    }
            })
        });



        </script>
</html>

