{% load static %}
<html>
    <head>
<!--https://blog.benoitblanchon.fr/django-htmx-modal-form/-->
    </head>
    <body>
    <div class="modal-wrap">
        <div class="modal-form">
            <fieldset id="admin_mess_form">
                <form hx-get="{{ request.path }}">
                    {% if q_instance.comment_img %}
                        <div class="q_img_block" id='q_img_display'>
                            <input type="checkbox" style="display:none;" id="zoomCheck_q">
                            <label for="zoomCheck_q">
                                <img class='q_img_src' id='q_img_src' src="{{q_instance.comment_img.url}}">
                            </label>
                        </div>
                    {% endif %}
                    {% if q_instance.comment_text %}
                        <div class="q_comment">
                            {% autoescape off %}
                                {{q_instance.comment_text}}
                            {% endautoescape %}
                        </div>
                    {% endif %}
                    <div class="modal_form_button_block">
                        <input type="reset" data-bs-dismiss="modal" value="Закрыть">
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
    </body>
</html>